In [1]:
import pandas as pd
import numpy as np

import ast

In [1]:
files = [
    'financial_reports_112_01',
    'financial_reports_112_02',
    'financial_reports_112_03',
    'financial_reports_112_04',
    'financial_reports_112_05',
    'financial_reports_112_06',
    'financial_reports_121'
]

columns_names = {
    'prilohy': 'attachments',
    'id': 'financial_report_id',
    'idUctovnejZavierky': 'financial_statement_id',
    'obsah': 'content',
    'pristupnostDat': 'data_access',
    'idSablony': 'template_id',
    'datumPoslednejUpravy': 'modified',
    'zdrojDat': 'source',
    'kodDanovehoUradu': 'tax_office_code'}

In [4]:
df = pd.DataFrame()

for file in files:
    print(file)
    temp = pd.read_csv(f'../../DATA/RAW/register_uz_apr23/preprocessed/{file}.csv')
    if file == 'financial_reports_121': temp.drop(columns='idUctovnejZavierky', inplace=True)
    temp.rename(columns=columns_names, inplace=True)

    df = pd.concat([df, temp], axis = 0)
    temp = None

# df = df.merge(templates, on = 'template_id', how = 'left')
df

financial_reports_112_01
financial_reports_112_02
financial_reports_112_03
financial_reports_112_04
financial_reports_112_05
financial_reports_112_06
financial_reports_121

,financial_report_id,financial_statement_id,content,data_access,template_id,tax_office_code,source,modified,attachments
0,4083839,2083688,"{'tabulky': [{'nazov': {'sk': 'Strana aktív'},...",Verejné,21.0,100.0,FRSR,2014-05-16,NaN
1,4083841,2083688,{'tabulky': [{'nazov': {'sk': 'Výkaz ziskov a ...,Verejné,22.0,100.0,FRSR,2014-05-16,NaN
2,4647638,2384908,"{'tabulky': [{'nazov': {'sk': 'Strana aktív', ...",Verejné,699.0,100.0,FRSR,2015-04-10,NaN
3,4815576,2384908,{'titulnaStrana': {'nazovUctovnejJednotky': 'T...,Verejné,697.0,100.0,FRSR,2015-06-13,NaN
4,5107721,2744533,"{'tabulky': [{'nazov': {'sk': 'Strana aktív', ...",Verejné,699.0,100.0,FRSR,2016-03-30,NaN
...,...,...,...,...,...,...,...,...,...
151960,8150261,5192577,"{'tabulky': [{'nazov': {'sk': 'Strana aktív'},...",Verejné,687.0,500.0,FRSR,2022-06-21,"[{'id': 9311095, 'meno': 'Príloha k účtovnej z..."
151961,8044641,5110158,"{'tabulky': [{'nazov': {'sk': 'Strana aktív'},...",Verejné,687.0,200.0,FRSR,2022-04-03,"[{'id': 9137672, 'meno': 'Príloha k účtovnej z..."
151962,7989563,5063068,"{'tabulky': [{'nazov': {'sk': 'Strana aktív'},...",Verejné,687.0,100.0,FRSR,2022-03-29,"[{'id': 9049381, 'meno': 'Príloha k účtovnej z..."
151963,4614507,2357676,"{'tabulky': [{'nazov': {'sk': 'Strana aktív', ...",Verejné,699.0,600.0,FRSR,2015-04-01,"[{'id': 4056587, 'meno': 'Príloha k účtovnej z..."
151964,5836403,3331241,"{'tabulky': [{'nazov': {'sk': 'Strana aktív', ...",Verejné,699.0,100.0,FRSR,2017-06-28,"[{'id': 5687076, 'meno': 'Príloha k účtovnej z..."

In [6]:
df.query('template_id in [687, 699] and content == content and content != "{}"', inplace=True)

In [7]:
display(df['template_id'].value_counts())

687.0    1101354
699.0     661811
Name: template_id, dtype: int64

In [9]:
df.to_csv('../../DATA/TRANSFORM/financial_statements/financial_reports_table.csv', index = False)