In [9]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', 130)
pd.set_option('display.max_rows', 100)

## Loading main dataset of primary metrics

In [10]:
df = pd.read_csv('../../DATA/MODEL/primary_features_df.csv')

priamry_processed_values = ['CA','CASH','CL','EQ','NCL','TA','TL','CC','INV','CF_NETTO','CF_SELFFIN', 'REV', 'VA', 'OE' ,'EAT','EBIT','SAL','COST','INT', 'LABOR']

# df = df[['financial_report_id', 'financial_report_template_id'] + priamry_processed_values]

# display(df.query('SAL >= 50000').iloc[:, 2:].describe().T)

In [11]:
df.query('SAL >= 0 and CA >= 0 and TL >= 0 and CASH >= 0 and NCL >= 0 and total_equity_and_liabilities == total_assets', inplace=True)

## Computing secondary metrics - financial ratios

In [12]:
def get_ratios(row):
    # Ukazovatele likvidity
    row['L1'] = ( row['CASH'] ) / ( row['CL'] ) if row['CL'] != 0 else None
    row['L2'] = ( row['CASH'] + row['CC'] ) / ( row['CL'] ) if row['CL'] != 0 else None
    row['L3'] = ( row['CASH'] + row['CC'] + row['INV'] ) / ( row['CL'] ) if row['CL'] != 0 else None
    row['NCL_CF'] = ( row['NCL'] ) / ( row['CF_NETTO'] ) if row['CF_NETTO'] != 0 else None
    row['CASH_TA'] = ( row['CASH'] ) / ( row['TA'] ) if row['TA'] != 0 else None

    # Ukazovatele aktivity
    row['INV_COGS'] = ( row['INV'] ) / ( row['costs_of_merchandise_sold'] ) if row['costs_of_merchandise_sold'] != 0 else None
    row['CC_SAL'] = ( row['CC'] ) / ( row['SAL'] ) if row['SAL'] != 0 else None
    row['TL_COST'] = row['TL'] / ( row['COST'] ) if row['COST'] > 0 else None
    row['CL_COST'] = row['CL'] / ( row['COST'] ) if row['COST'] > 0 else None
    row['SAL_TA'] = ( row['SAL'] ) / ( row['TA'] ) if row['TA'] != 0 else None

    # Ukazovatele zadlÅ¾enosti
    row['EQ_TA'] = row['EQ'] / ( row['TA'] ) if row['TA'] > 0 else None
    row['EQ_TL'] = ( row['EQ'] ) / ( row['EQ'] + row['TL'] ) if ( row['EQ'] + row['TL'] ) != 0 else None
    row['CL_CC'] = ( row['CL'] ) / ( row['CC'] ) if row['CC'] != 0 else None    
    row['LTC_NCA'] = ( row['EQ'] + row['TL'] - row['CL'] ) / ( row['TA'] - row['CA'] )  if ( row['TA'] - row['CA'] ) != 0 else None
    row['TZ'] = ( row['TL'] - row['CASH'] - row['CC'] - row['INV'] ) / row['CF_NETTO']  if row['CF_NETTO'] != 0 else None
    row['CF_TL'] = ( row['CF_NETTO'] ) / ( row['TL'] ) if row['TL'] != 0 else None
    row['CL_TA'] = ( row['CL'] ) / ( row['TA'] ) if row['TA'] != 0 else None
    row['NCL_TA'] = ( row['NCL'] ) / ( row['TA'] ) if row['TA'] != 0 else None

    # Ukazovatele rentability
    row['EBT_REV'] = ( row['EBIT'] ) / ( row['REV'] ) if row['REV'] != 0 else None
    row['ROS'] = ( row['EAT'] ) / ( row['SAL'] ) if row['SAL'] != 0 else None
    row['EAT_REV'] = ( row['EAT'] ) / ( row['REV'] ) if row['REV'] != 0 else None
    row['ROA'] = ( row['EAT'] ) / ( row['TA'] ) if row['TA'] != 0 else None
    row['ROE'] = ( row['EAT'] ) / ( row['EQ'] ) if row['EQ'] != 0 else None
    row['CF_TA'] = ( row['CF_NETTO'] ) / ( row['TA'] ) if row['TA'] != 0 else None
    row['CF_SAL'] = ( row['CF_NETTO'] ) / ( row['SAL'] ) if row['SAL'] != 0 else None

    # Ukazovatele efektivity
    row['LABOR_EAT'] = row['personnel_costs'] / ( row['EAT'] ) if row['EAT'] != 0 else None    
    row['LABOR_REV'] = row['personnel_costs'] / ( row['REV'] ) if row['REV'] != 0 else None
   

    return row


records = []
k = 0
size = df.shape[0]

for row_dict in df.to_dict(orient="records"):
    # if k >= 100:
    #     break

    if (k + 1) % 50000 == 0:
        print(f'{k + 1} / {size}')

    k += 1

    records.append(get_ratios(row_dict))


df_extended = pd.DataFrame(records)

ratios = ['L1',
       'L2', 'L3', 'NCL_CF', 'CASH_TA', 'INV_COGS', 'CC_SAL', 'TL_COST',
       'CL_COST', 'SAL_TA', 'EQ_TA', 'EQ_TL', 'CL_CC', 'LTC_NCA', 'TZ',
       'CF_TL', 'CL_TA', 'NCL_TA', 'EBT_REV', 'ROS', 'EAT_REV', 'ROA', 'ROE',
       'CF_TA', 'CF_SAL', 'LABOR_EAT', 'LABOR_REV']



df = None

50000 / 1715197
100000 / 1715197
150000 / 1715197
200000 / 1715197
250000 / 1715197
300000 / 1715197
350000 / 1715197
400000 / 1715197
450000 / 1715197
500000 / 1715197
550000 / 1715197
600000 / 1715197
650000 / 1715197
700000 / 1715197
750000 / 1715197
800000 / 1715197
850000 / 1715197
900000 / 1715197
950000 / 1715197
1000000 / 1715197
1050000 / 1715197
1100000 / 1715197
1150000 / 1715197
1200000 / 1715197
1250000 / 1715197
1300000 / 1715197
1350000 / 1715197
1400000 / 1715197
1450000 / 1715197
1500000 / 1715197
1550000 / 1715197
1600000 / 1715197
1650000 / 1715197
1700000 / 1715197

In [13]:
df_extended.columns

Index(['financial_report_id', 'financial_report_template_id', 'total_assets',
       'non_current_assets', 'non_current_intangible_assets',
       'non_current_tangible_assets', 'non_current_financial_assets',
       'current_assets', 'inventories', 'non_current_receivables',
       'current_receivables', 'financial_assets', 'current_financial_assets',
       'cash_and_bank_balances', 'total_equity_and_liabilities', 'equity',
       'share_capital', 'share_premium', 'net_profit_of_previous_years',
       'net_profit_after_tax', 'liabilities', 'non_current_liabilities',
       'long_term_provisions', 'long_term_bank_loans', 'current_liabilities',
       'short_term_provisions', 'current_bank_loans',
       'short_term_financial_assistance', 'operating_revenues',
       'sales_from_the_merchandise',
       'sales_from_the_own_products_and_services', 'sales_from_the_other',
       'other_revenues_from_operating_activities', 'operating_costs',
       'costs_of_merchandise_sold',
       'consumed_materials_energy_non_inventory_supplies', 'services',
       'personnel_costs', 'taxes_and_fees', 'depreciation',
       'remaining_cost_of_sold_long_term_assets_and_materials',
       'adjustments_to_receivables', 'other_costs_of_operating_activities',
       'operating_result', 'value_added', 'revenues_from_financial_activities',
       'cost_of_financial_activities', 'result_from_fincancial_activities',
       'result_before_tax', 'income_tax', 'result_after_tax', 'CA', 'CASH',
       'CL', 'EQ', 'NCL', 'TA', 'TL', 'CC', 'INV', 'CF_NETTO', 'CF_SELFFIN',
       'REV', 'VA', 'OE', 'EAT', 'EBIT', 'SAL', 'COST', 'INT', 'LABOR', 'L1',
       'L2', 'L3', 'NCL_CF', 'CASH_TA', 'INV_COGS', 'CC_SAL', 'TL_COST',
       'CL_COST', 'SAL_TA', 'EQ_TA', 'EQ_TL', 'CL_CC', 'LTC_NCA', 'TZ',
       'CF_TL', 'CL_TA', 'NCL_TA', 'EBT_REV', 'ROS', 'EAT_REV', 'ROA', 'ROE',
       'CF_TA', 'CF_SAL', 'LABOR_EAT', 'LABOR_REV'],
      dtype='object')

## Joining meta information (dimensions) about financial statements

In [14]:
statements_reports_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_reports_table.csv')
statements_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_table.csv')
entity_details_table = pd.read_csv('../../DATA/TRANSFORM/entity_details/financial_statements_register_entity_details.csv')

C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (9,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (13,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [1]:
entity_details_table = entity_details_table[['id', 'establishment_date', 'cancellation_date', 'sknace_code', 'entity_state', 'legal_form_code', 'org_size_code',  'entity_name', 'ownership_category_code', 'consolidated']].rename(columns={'id': 'entity_id', 'consolidated':'entity_consolidated'})
statements_table = statements_table[['financial_statement_id', 'entity_id', 'entity_ico', 'year', 'month', 'period_length', 'consolidated', 'approved_date', 'type']]

NameError: name 'entity_details_table' is not defined

In [16]:
df_extended.drop_duplicates(inplace=True)

In [17]:
display(df_extended.shape)

(1715123, 98)

In [18]:
statements_reports_table

,financial_statement_id,financial_report_id,financial_report_order_number
0,2083688,4083839,1
1,2083688,4083840,2
2,2083688,4083841,3
3,2083688,4223222,4
4,2083688,4223223,5
...,...,...,...
2806373,5017993,7936267,1
2806374,5192577,8267243,1
2806375,5192577,8150261,2
2806376,5110158,8044641,1
2806377,5063068,7989563,1

In [19]:
df_statements_extended = (df_extended
                          .merge(
                              statements_reports_table.drop_duplicates('financial_report_id'),
                              on = 'financial_report_id',
                              how = 'left'))

display(df_statements_extended.shape)

(1715123, 100)

In [20]:
df_statements_extended = (df_statements_extended
                          .merge(
                              statements_table.drop_duplicates('financial_statement_id'),
                              on = 'financial_statement_id',
                              how = 'left'))

display(df_statements_extended.shape)

(1715123, 109)

In [21]:
df_statements_extended = (df_statements_extended
                          .merge(
                              entity_details_table.drop_duplicates('entity_id'),
                              on = 'entity_id',
                              how = 'left'))

display(df_statements_extended.shape)

(1715123, 117)

In [22]:
df_extended = None
statements_reports_table = None
statements_table = None
entity_details_table = None

In [23]:
df_statements_extended['period_length_check'] = df_statements_extended['period_length'].apply(lambda x: 1 if x == 12 else 0)
df_statements_extended['period_length_check'].value_counts()

1    1610398
0     104725
Name: period_length_check, dtype: int64

In [24]:
# filtrujeme 2014 - 2021
# ak existuje viac zaznamov z rovnakeho roka, mesiaca pre jednu entitu, berieme tie, ktore maju spravnu dlzku, su schvalene a pri rovnosti vyssie TA+SAL

In [25]:
display(df_statements_extended.shape)

df_statements_extended = (df_statements_extended
                          .query('2014 <= year <= 2021')
                          .sort_values(['period_length_check', 'approved_date', 'TA', 'SAL'], ascending=[False, False, False, False])
                          .groupby(['entity_id', 'year', 'month']).first()
                          .reset_index())

df_statements_extended.drop(columns=['period_length_check'], inplace=True)

display(df_statements_extended.shape)

(1715123, 118)

(1643576, 117)

In [26]:
df_statements_extended['period_length'].value_counts().head(20)

12.0    1545357
10.0       9939
11.0       9360
7.0        9287
8.0        9035
3.0        8974
9.0        8830
6.0        8817
5.0        8560
4.0        8317
2.0        7423
1.0        6941
25.0        313
13.0        277
24.0        199
14.0        186
16.0        173
15.0        154
18.0        116
17.0        104
Name: period_length, dtype: int64

In [27]:
df_statements_extended.query('period_length > 12')

,entity_id,year,month,financial_report_id,financial_report_template_id,total_assets,non_current_assets,non_current_intangible_assets,non_current_tangible_assets,non_current_financial_assets,current_assets,inventories,non_current_receivables,current_receivables,financial_assets,current_financial_assets,cash_and_bank_balances,total_equity_and_liabilities,equity,share_capital,share_premium,net_profit_of_previous_years,net_profit_after_tax,liabilities,non_current_liabilities,long_term_provisions,long_term_bank_loans,current_liabilities,short_term_provisions,current_bank_loans,short_term_financial_assistance,operating_revenues,sales_from_the_merchandise,sales_from_the_own_products_and_services,sales_from_the_other,other_revenues_from_operating_activities,operating_costs,costs_of_merchandise_sold,consumed_materials_energy_non_inventory_supplies,services,personnel_costs,taxes_and_fees,depreciation,remaining_cost_of_sold_long_term_assets_and_materials,adjustments_to_receivables,other_costs_of_operating_activities,operating_result,value_added,revenues_from_financial_activities,cost_of_financial_activities,result_from_fincancial_activities,result_before_tax,income_tax,result_after_tax,CA,CASH,CL,EQ,NCL,TA,TL,CC,INV,CF_NETTO,CF_SELFFIN,REV,VA,OE,EAT,EBIT,SAL,COST,INT,LABOR,L1,L2,L3,NCL_CF,CASH_TA,INV_COGS,CC_SAL,TL_COST,CL_COST,SAL_TA,EQ_TA,EQ_TL,CL_CC,LTC_NCA,TZ,CF_TL,CL_TA,NCL_TA,EBT_REV,ROS,EAT_REV,ROA,ROE,CF_TA,CF_SAL,LABOR_EAT,LABOR_REV,financial_statement_id,financial_report_order_number,entity_ico,period_length,consolidated,approved_date,type,entity_name,establishment_date,cancellation_date,sknace_code,entity_state,legal_form_code,org_size_code,ownership_category_code,entity_consolidated
18,65.0,2016.0,1.0,6395293,699.0,1114.0,0.0,0.0,0.0,0.0,1114.0,0.0,0.0,0.0,1114.0,0.0,1114.0,1114.0,-1726.0,47799.0,3647.0,-28399.0,-24773.0,2840.0,0.0,0.0,0.0,2840.0,0.0,0.0,0.0,15940.0,0.0,0.0,1400.0,14540.0,40474.0,0.0,65.0,27368.0,0.0,57.0,0.0,136.0,0.0,12848.0,-24534.0,-27433.0,125.0,364.0,-239.0,-24773.0,0.0,-24773.0,1114.0,1114.0,2840.0,-1726.0,0.0,1114.0,2840.0,0.0,0.0,-24773.0,-24773.0,16065.0,-27433.0,-24534.0,-24773.0,-24773.0,15940.0,40474.0,0.0,0.0,0.392254,0.392254,0.392254,-0.0,1.00000,NaN,0.000000,0.070169,0.070169,14.308797,-1.549372,-1.549372,NaN,NaN,-0.069673,-8.722887,2.549372,0.000000,-1.542048,-1.554141,-1.542048,-22.237882,14.352839,-22.237882,-1.554141,-0.0,0.000000,3778697.0,1.0,633861.0,30.0,None,2018-09-09,Mimoriadna,TRADEF spol. s r.o. v likvidÃ¡cii,1991-04-19,2018-11-27,68200.0,None,112.0,0.0,2.0,False
760,6773.0,2015.0,5.0,5420295,699.0,217.0,0.0,0.0,0.0,0.0,217.0,0.0,0.0,0.0,217.0,0.0,217.0,217.0,217.0,6639.0,1006.0,-7428.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,217.0,217.0,0.0,217.0,0.0,217.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,2998738.0,1.0,616877.0,13.0,None,2016-05-26,Mimoriadna,"P E G A S U S spol. s r.o. ""v likvidÃ¡cii""",1991-12-02,2016-08-18,72200.0,None,112.0,0.0,2.0,False
803,6921.0,2016.0,12.0,7327465,699.0,1800121.0,0.0,0.0,0.0,0.0,1800121.0,0.0,0.0,1800121.0,0.0,0.0,0.0,1800121.0,1800121.0,7390.0,4981807.0,-3187548.0,-1528.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1167.0,0.0,0.0,1147.0,0.0,20.0,0.0,0.0,0.0,0.0,-1167.0,-1147.0,0.0,361.0,-361.0,-1528.0,0.0,-1528.0,1800121.0,0.0,0.0,1800121.0,0.0,1800121.0,0.0,1800121.0,0.0,-1528.0,-1528.0,0.0,-1147.0,-1167.0,-1528.0,-1528.0,0.0,1167.0,0.0,0.0,0.175490,0.601234,0.601234,-0.0,0.00000,NaN,0.143624,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,NaN,1178.089660,0.084348,0.000000,0.000000,0.402478,0.402478,0.402478,-0.000849,-0.000849,-0.000849,0.402478,-0.0,-0.000334,4530129.0,1.0,603970.0,48.0,None,2020-11-12,Mimoriadna,"IBEA, spol. s r. o., v likvidÃ¡cii",1991-01-17,2020-12-16,46900.0,None,112.0,0.0,2.0,False
948,7659.0,2015.0,12.0,8258543,687.0,8847.0,0.0,0.0,0.0,0.0,8847.0,0.0,0.0,8692.0,155.0,0.0,155.0,8847.0,7682.0,16597.0,1660.0,-10575.0,0.0,1165.0,3.0,0.0,0.0,1162.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8847.0,155.0,1162.0,7682.0,3.0,8847.0,1165.0,8692.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.133391,7.613597,7.613597,NaN,0.01752,NaN,NaN,NaN,NaN,0.000000,0.868317,0.868317,0.133686,NaN,NaN,0.000000,0.131344,0.000339,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,5288183.0,1.0,690708.0,77.0,None,None,Mimoriadna,"MEDA-TECH s.r.o. "" v likvidÃ¡cii """,1990-12-19,2022-04-08,47410.0,None,112.0,0.0,2.0,False
959,7731.0,2015.0,6.0,5662482,687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6639.0,332.0,-6971.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3191547.0,2.0,585076.0,19.0,None,2017-06-23,Riadna,INTERCONTACT agency spol. s. r. o.,1990-07-27,2017-07-21,47430.0,None,112.0,0.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627293,1963514.0,2020.0,1.0,7544047,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,4705001.0,1.0,53369807.0,15.0,None,2021-03-30,Riadna,Y.A.L.A. s. r. o.,2020-12-12,None,70220.0,None,112.0,0.0,2.0,False
1628706,1969761.0,2021.0,1.0,7842988,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,4934686.0,1.0,53493117.0,13.0,None,2022-01-31,Riadna,Ludok s. r. o.,2021-01-27,None,82110.0,None,112.0,0.0,2.0,False
1630544,1977920.0,2021.0,1.0,7973142,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,5048965.0,1.0,53604814.0,15.0,None,2022-03-14,Riadna,"Milan OndruÅ¡ - OÃZA, s.r.o.",2021-03-18,None,55200.0,None,112.0,0.0,2.0,False
1639677,2024575.0,2021.0,1.0,7830431,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,4925097.0,1.0,54025567.0,13.0,None,2022-01-14,Riadna,SI-KE-25 s. r. o.,2021-10-12,None,82110.0,None,112.0,0.0,2.0,False
1640698,2028310.0,2021.0,1.0,7891826,687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4978776.0,1.0,54162891.0,15.0,None,2022-03-04,Riadna,Sonata Optics s. r. o.,2021-10-26,None,47789.0,None,112.0,0.0,2.0,False

## Joining SKNACE codebook

In [28]:
codebook_sknace_raw = pd.read_csv('../../DATA/RAW/register_uz_apr23/preprocessed/codebook_sk-nace.csv')
codebook_sknace_divisions_raw = pd.read_csv('../../DATA/RAW/register_uz_apr23/preprocessed/codebook_sk-nace_divisions_su.csv', sep= '|')


codebook_sknace = codebook_sknace_raw[['kod', 'nazov.sk']]
codebook_sknace.columns = ['sknace_code', 'sknace_group']

codebook_sknace['sknace_code'] = pd.to_numeric(codebook_sknace['sknace_code'])
codebook_sknace['sknace_division_code'] = codebook_sknace['sknace_code'].apply(lambda x: x//1000)

# display(codebook_sknace)
# display(codebook_sknace_divisions_raw)

codebook_sknace_divisions = codebook_sknace_divisions_raw[['code', 'officialTitle', 'note']]
codebook_sknace_divisions.columns = ['sknace_division_code', 'sknace_division_name', 'sknace_division']
codebook_sknace_divisions['sknace_division_code'] = pd.to_numeric(codebook_sknace_divisions['sknace_division_code'])

codebook_sknace = codebook_sknace.merge(codebook_sknace_divisions, on = 'sknace_division_code', how = 'left')

codebook_sknace

C:\Users\matus.rohal\AppData\Local\Temp\ipykernel_14344\932557765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codebook_sknace['sknace_code'] = pd.to_numeric(codebook_sknace['sknace_code'])
C:\Users\matus.rohal\AppData\Local\Temp\ipykernel_14344\932557765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codebook_sknace_divisions['sknace_division_code'] = pd.to_numeric(codebook_sknace_divisions['sknace_division_code'])

,sknace_code,sknace_group,sknace_division_code,sknace_division_name,sknace_division
0,1110,Pestov.obilnÃ­n,1,"Pestovanie plodÃ­n a chov zvierat, poÄ¾ovnÃ­ctvo ...",A
1,1120,Pestov.ryÅ¾e,1,"Pestovanie plodÃ­n a chov zvierat, poÄ¾ovnÃ­ctvo ...",A
2,1130,"Pestov.zeleniny,melÃ³nov",1,"Pestovanie plodÃ­n a chov zvierat, poÄ¾ovnÃ­ctvo ...",A
3,1140,Pestov.cukrovej trstiny,1,"Pestovanie plodÃ­n a chov zvierat, poÄ¾ovnÃ­ctvo ...",A
4,1150,Pestov.tabaku,1,"Pestovanie plodÃ­n a chov zvierat, poÄ¾ovnÃ­ctvo ...",A
...,...,...,...,...,...
641,96090,Ost.osob.sluÅ¾by i.n.,96,OstatnÃ© osobnÃ© sluÅ¾by,S
642,97000,Äin.domÃ¡cn.ako zamestn.,97,Äinnosti domÃ¡cnostÃ­ ako zamestnÃ¡vateÄ¾ov domÃ¡ce...,T
643,98100,Äin.v dom.produk.tovary,98,NediferencovanÃ© Äinnosti v domÃ¡cnostiach produ...,T
644,98200,Äin.v dom.produk.sluÅ¾by,98,NediferencovanÃ© Äinnosti v domÃ¡cnostiach produ...,T
645,99000,Äin.extrateritoriÃ¡l.org.,99,Äinnosti extrateritoriÃ¡lnych organizÃ¡ciÃ­ a zdr...,U

In [29]:
df_statements_extended.shape[0]

1643576

In [30]:
merged_df = df_statements_extended.merge(codebook_sknace[['sknace_code', 'sknace_division_name', 'sknace_division']], on = 'sknace_code', how = 'left')
merged_df['sknace_subcategory'] = merged_df['sknace_code'] // 1000

# display(merged_df['sknace_subcategory'].value_counts().to_frame())

In [31]:
merged_df.shape[0]

1643576

In [32]:
df_statements_extended = None

In [33]:
merged_df.to_csv('../../DATA/MODEL/financial_ratios_df.csv', index = False)