In [43]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', 130)
pd.set_option('display.max_rows', 100)

## Loading main dataset of primary metrics

In [2]:
df = pd.read_csv('../../DATA/MODEL/primary_features_df.csv')

priamry_processed_values = ['CA','CASH','CL','EQ','NCL','TA','TL','CC','INV','CF_NETTO','CF_SELFFIN','EAT','EBIT','SAL','COST','INT','YIE']

# df = df[['financial_report_id', 'financial_report_template_id'] + priamry_processed_values]

# display(df.query('SAL >= 50000').iloc[:, 2:].describe().T)

## Computing secondary metrics - financial ratios

In [4]:
def get_ratios(row):
    row['L3'] = ( row['CA'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['L2'] = ( row['CASH']+row['CC'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['L1'] = ( row['CASH'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['CF_CL'] = ( row['CF_NETTO'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['CASH_TA'] = ( row['CASH'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['SAL_TA'] = ( row['SAL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['TL_SAL'] = ( row['TL'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['INV_COST'] = ( row['INV'] * 360 ) / ( row['COST'] ) if row['COST'] > 0 else None
    row['INV_SAL'] = ( row['INV'] * 360 ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['CC_SAL'] = ( row['CC'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['TA_SAL'] = ( row['TA'] * 360 ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['TL_TA'] = ( row['TL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['CF_TL'] = ( row['CF_NETTO'] ) / ( row['TL'] ) if row['TL'] > 0 else None
    row['CL_TA'] = ( row['CL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['NCL_TA'] = ( row['NCL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['EQ_TL'] = ( row['EQ'] ) / ( row['TL'] ) if row['TL'] > 0 else None
    row['EQ_TA'] = ( row['EQ'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['EBIT_INT'] = ( row['EBIT']+row['INT'] ) / ( row['INT'] ) if row['INT'] > 0 else None
    row['CL_CC'] = ( row['CL'] ) / ( row['CC'] ) if row['CC'] > 0 else None
    row['ROE'] = ( row['EAT'] ) / ( row['EQ'] ) if row['EQ'] > 0 else None
    row['EAT_TA'] = ( row['EAT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['ROA_BRUTTO'] = ( row['EBIT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['CF_TA'] = ( row['CF_NETTO'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['CF_SAL'] = ( row['CF_NETTO'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['ROS'] = ( row['EAT'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['EAT_YIE'] = ( row['EAT'] ) / ( row['YIE'] ) if row['YIE'] > 0 else None
    row['ROI'] = ( row['EAT']+row['INT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['ROA_NETTO'] = ( row['EAT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['LABOR_PRODUCTIVITY'] = row['personnel_costs'] / ( row['SAL'] ) if row['SAL'] > 0 else None

    return row


records = []
k = 0
size = df.shape[0]

for row_dict in df.to_dict(orient="records"):
    # if k >= 100:
    #     break

    if (k + 1) % 50000 == 0:
        print(f'{k + 1} / {size}')

    k += 1

    records.append(get_ratios(row_dict))


df_extended = pd.DataFrame(records)

ratios = ['CF_NETTO', 'CF_SELFFIN', 'EAT', 'EBIT', 'SAL', 'COST', 'INT', 'YIE',
       'L3', 'L2', 'L1', 'CF_CL', 'CASH_TA', 'SAL_TA', 'TL_SAL', 'INV_COST',
       'INV_SAL', 'CC_SAL', 'TA_SAL', 'TL_TA', 'CF_TL', 'CL_TA', 'NCL_TA',
       'EQ_TL', 'EQ_TA', 'EBIT_INT', 'CL_CC', 'ROE', 'EAT_TA', 'ROA_BRUTTO',
       'CF_TA', 'CF_SAL', 'ROS', 'EAT_YIE', 'ROI', 'ROA_NETTO',
       'LABOR_PRODUCTIVITY']

df = None

50000 / 1763209
100000 / 1763209
150000 / 1763209
200000 / 1763209
250000 / 1763209
300000 / 1763209
350000 / 1763209
400000 / 1763209
450000 / 1763209
500000 / 1763209
550000 / 1763209
600000 / 1763209
650000 / 1763209
700000 / 1763209
750000 / 1763209
800000 / 1763209
850000 / 1763209
900000 / 1763209
950000 / 1763209
1000000 / 1763209
1050000 / 1763209
1100000 / 1763209
1150000 / 1763209
1200000 / 1763209
1250000 / 1763209
1300000 / 1763209
1350000 / 1763209
1400000 / 1763209
1450000 / 1763209
1500000 / 1763209
1550000 / 1763209
1600000 / 1763209
1650000 / 1763209
1700000 / 1763209
1750000 / 1763209

,count,mean,std,min,25%,50%,75%,max
CF_NETTO,1763209.0,52056.263993,8.662394e+05,-1.856062e+08,-116.000000,2270.000000,16529.000000,2.995041e+08
CF_SELFFIN,1763209.0,45755.347963,8.473785e+05,-1.856062e+08,-480.000000,1780.000000,14476.000000,2.995012e+08
EAT,1763209.0,18692.317924,7.541622e+05,-1.856062e+08,-1130.000000,493.000000,6913.000000,2.995012e+08
EBIT,1763209.0,26329.236008,7.948221e+05,-1.856062e+08,-780.000000,888.000000,8730.000000,2.995041e+08
SAL,1763209.0,722435.722652,7.889000e+06,-1.233582e+07,4634.000000,38472.000000,167678.000000,1.708491e+09
COST,1763209.0,695552.731264,7.720387e+06,-7.724996e+07,5185.000000,35741.000000,159652.000000,1.645801e+09
INT,1763209.0,9067.491379,2.758140e+05,-4.531890e+05,0.000000,0.000000,343.000000,8.720448e+07
YIE,1763209.0,739110.216345,7.979590e+06,-3.049693e+07,5010.000000,39318.000000,171748.000000,1.708499e+09
L3,1609284.0,40.159700,6.337807e+03,-1.939807e+04,0.815607,1.799476,5.988222,6.634335e+06
L2,1609284.0,34.185065,5.805231e+03,-1.939807e+04,0.544444,1.503693,5.367522,6.632828e+06
L1,1609284.0,17.457398,1.050464e+03,-1.939807e+04,0.113577,0.690127,3.431528,6.758690e+05
CF_CL,1609284.0,-1.735890,3.876456e+03,-4.828154e+06,-0.011653,0.171098,1.047929,4.104870e+05
CASH_TA,1717851.0,0.451217,7.016988e+00,-4.790000e+02,0.079391,0.346304,0.820929,6.667667e+03
SAL_TA,1717851.0,10.088752,7.131425e+03,-4.562836e+03,0.195765,0.953268,2.043926,9.322390e+06
TL_SAL,1465249.0,1035.085824,3.291677e+05,-1.630714e+06,0.144168,0.370740,1.065005,2.692265e+08
INV_COST,1577309.0,5344.368757,1.087067e+06,-3.100644e+07,0.000000,0.000000,9.828208,8.792744e+08
INV_SAL,1465249.0,20745.021469,5.676880e+06,-7.701094e+06,0.000000,0.000000,12.014794,4.977910e+09
CC_SAL,1465249.0,294.689934,1.084027e+05,-2.435828e+04,0.029652,0.119612,0.308224,8.401461e+07
TA_SAL,1465249.0,575698.352003,1.677756e+08,-5.856293e+08,154.586914,296.397968,679.315011,1.112209e+11
TL_TA,1717851.0,54.898264,2.970148e+04,-1.170720e+04,0.152971,0.551570,0.923517,3.732389e+07
CF_TL,1626183.0,-1.968576,3.822741e+03,-4.828154e+06,-0.009807,0.112978,0.615485,2.020956e+05
CL_TA,1717851.0,50.424752,2.965509e+04,-1.190400e+04,0.089299,0.327396,0.761382,3.731080e+07
NCL_TA,1717851.0,2.037972,5.575614e+02,-5.767500e+02,0.000000,0.000000,0.010137,6.516000e+05
EQ_TL,1626183.0,34.982844,2.926800e+03,-1.939907e+04,0.050791,0.631821,3.680256,1.984696e+06
EQ_TA,1717851.0,-53.913856,2.970151e+04,-3.732389e+07,0.072783,0.440366,0.844434,1.170820e+04
EBIT_INT,696210.0,1253.711310,1.126538e+05,-4.740091e+07,-1.592642,4.879204,50.632040,4.586330e+07
CL_CC,1382967.0,208.411662,5.697015e+04,-8.213780e+05,0.668960,1.679913,6.175037,6.510560e+07
ROE,1401809.0,-0.829745,1.068952e+02,-2.749900e+04,-0.022100,0.075902,0.289080,6.515051e+04
EAT_TA,1717851.0,-7.769434,7.143998e+03,-9.322502e+06,-0.048803,0.011024,0.114147,1.015460e+05
ROA_BRUTTO,1717851.0,-7.618072,7.143995e+03,-9.322502e+06,-0.030028,0.018601,0.145947,1.020260e+05
CF_TA,1717851.0,-7.769515,7.149003e+03,-9.322502e+06,-0.007221,0.058414,0.208668,6.515051e+04
CF_SAL,1465249.0,41.207392,2.861348e+04,-4.316459e+06,0.002872,0.075259,0.235822,2.362159e+07
ROS,1465249.0,37.857954,2.863014e+04,-4.316459e+06,-0.041829,0.023379,0.118826,2.367300e+07
EAT_YIE,1485909.0,-114.299582,4.467517e+04,-4.740188e+07,-0.046785,0.022644,0.117858,1.430609e+06
ROI,1717851.0,-7.696977,7.143878e+03,-9.322483e+06,-0.043731,0.017579,0.119853,1.015460e+05
ROA_NETTO,1717851.0,-7.769434,7.143998e+03,-9.322502e+06,-0.048803,0.011024,0.114147,1.015460e+05
LABOR_PRODUCTIVITY,1465249.0,2.957830,1.493415e+03,-3.307000e+03,0.000000,0.054475,0.205304,1.720527e+06

## Joining meta information (dimensions) about financial statements

In [5]:
statements_reports_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_reports_table.csv')
statements_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_table.csv')
entity_details_table = pd.read_csv('../../DATA/TRANSFORM/entity_details/financial_statements_register_entity_details.csv')

C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (9,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (13,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
entity_details_table = entity_details_table[['id', 'establishment_date', 'cancellation_date', 'sknace_code', 'entity_state', 'legal_form_code', 'org_size_code', 'ownership_category_code', 'consolidated']].rename(columns={'id': 'entity_id', 'consolidated':'entity_consolidated'})
statements_table = statements_table[['financial_statement_id', 'entity_id', 'entity_ico', 'year', 'month', 'period_length', 'consolidated', 'approved_date', 'type', 'entity_name']]

In [20]:
df_extended.drop_duplicates(inplace=True)

In [23]:
display(df_extended.shape)

(1763135, 98)

In [24]:
statements_reports_table

,financial_statement_id,financial_report_id,financial_report_order_number
0,2083688,4083839,1
1,2083688,4083840,2
2,2083688,4083841,3
3,2083688,4223222,4
4,2083688,4223223,5
...,...,...,...
2806373,5017993,7936267,1
2806374,5192577,8267243,1
2806375,5192577,8150261,2
2806376,5110158,8044641,1
2806377,5063068,7989563,1

In [29]:
df_statements_extended = (df_extended
                          .merge(
                              statements_reports_table.drop_duplicates('financial_report_id'),
                              on = 'financial_report_id',
                              how = 'left'))

display(df_statements_extended.shape)

(1763135, 100)

In [30]:
df_statements_extended = (df_statements_extended
                          .merge(
                              statements_table.drop_duplicates('financial_statement_id'),
                              on = 'financial_statement_id',
                              how = 'left'))

display(df_statements_extended.shape)

(1763135, 109)

In [32]:
df_statements_extended = (df_statements_extended
                          .merge(
                              entity_details_table.drop_duplicates('entity_id'),
                              on = 'entity_id',
                              how = 'left'))

display(df_statements_extended.shape)

(1763135, 117)

In [33]:
df_extended = None
statements_reports_table = None
statements_table = None
entity_details_table = None

In [34]:
df_statements_extended['period_length_check'] = df_statements_extended['period_length'].apply(lambda x: 1 if x == 12 else 0)
df_statements_extended['period_length_check'].value_counts()

1    1656584
0     106551
Name: period_length_check, dtype: int64

In [49]:
# filtrujeme 2014 - 2021
# ak existuje viac zaznamov z rovnakeho roka, mesiaca pre jednu entitu, berieme tie, ktore maju spravnu dlzku, su schvalene a pri rovnosti vyssie TA+SAL

In [50]:
display(df_statements_extended.shape)

df_statements_extended = (df_statements_extended
                          .query('2014 <= year <= 2021')
                          .sort_values(['period_length_check', 'approved_date', 'TA', 'SAL'], ascending=[False, False, False, False])
                          .groupby(['entity_id', 'year', 'month']).first()
                          .reset_index())

df_statements_extended.drop(columns=['period_length_check'], inplace=True)

display(df_statements_extended.shape)

(1763135, 118)

(1687865, 117)

In [53]:
df_statements_extended['period_length'].value_counts().head(20)

12.0    1588144
10.0      10082
11.0       9524
7.0        9450
8.0        9152
3.0        9094
9.0        8975
6.0        8955
5.0        8681
4.0        8437
2.0        7510
1.0        7022
25.0        320
13.0        283
24.0        204
14.0        191
16.0        173
15.0        162
18.0        136
17.0        107
Name: period_length, dtype: int64

In [54]:
df_statements_extended.query('period_length > 12')

,entity_id,year,month,financial_report_id,financial_report_template_id,total_assets,non_current_assets,non_current_intangible_assets,non_current_tangible_assets,non_current_financial_assets,current_assets,inventories,non_current_receivables,current_receivables,financial_assets,current_financial_assets,cash_and_bank_balances,total_equity_and_liabilities,equity,share_capital,share_premium,net_profit_of_previous_years,net_profit_after_tax,liabilities,non_current_liabilities,long_term_provisions,long_term_bank_loans,current_liabilities,short_term_provisions,current_bank_loans,short_term_financial_assistance,operating_revenues,sales_from_the_merchandise,sales_from_the_own_products_and_services,sales_from_the_other,other_revenues_from_operating_activities,operating_costs,costs_of_merchandise_sold,consumed_materials_energy_non_inventory_supplies,services,personnel_costs,taxes_and_fees,depreciation,remaining_cost_of_sold_long_term_assets_and_materials,adjustments_to_receivables,other_costs_of_operating_activities,operating_result,value_added,revenues_from_financial_activities,cost_of_financial_activities,result_from_fincancial_activities,result_before_tax,income_tax,result_after_tax,CA,CASH,CL,EQ,NCL,TA,TL,CC,INV,CF_NETTO,CF_SELFFIN,EAT,EBIT,SAL,COST,INT,YIE,LABOR,L3,L2,L1,CF_CL,CASH_TA,SAL_TA,TL_SAL,INV_COST,INV_SAL,CC_SAL,TA_SAL,TL_TA,CF_TL,CL_TA,NCL_TA,EQ_TL,EQ_TA,EBIT_INT,CL_CC,ROE,EAT_TA,ROA_BRUTTO,CF_TA,CF_SAL,ROS,EAT_YIE,ROI,ROA_NETTO,LABOR_PRODUCTIVITY,financial_statement_id,financial_report_order_number,entity_ico,period_length,consolidated,approved_date,type,entity_name,establishment_date,cancellation_date,sknace_code,entity_state,legal_form_code,org_size_code,ownership_category_code,entity_consolidated
18,65.0,2016.0,1.0,6395293,699.0,1114.0,0.0,0.0,0.0,0.0,1114.0,0.0,0.0,0.0,1114.0,0.0,1114.0,1114.0,-1726.0,47799.0,3647.0,-28399.0,-24773.0,2840.0,0.0,0.0,0.0,2840.0,0.0,0.0,0.0,15940.0,0.0,0.0,1400.0,14540.0,40474.0,0.0,65.0,27368.0,0.0,57.0,0.0,136.0,0.0,12848.0,-24534.0,-27433.0,125.0,364.0,-239.0,-24773.0,0.0,-24773.0,1114.0,1114.0,2840.0,-1726.0,0.0,1114.0,2840.0,0.0,0.0,-24773.0,-24773.0,-24773.0,-24773.0,15940.0,40474.0,0.0,16065.0,0.0,0.392254,0.392254,0.392254,-8.722887,1.00000,14.308797,0.178168,0.0,0.0,0.000000,25.159348,2.549372,-8.722887,2.549372,0.000000,-0.607746,-1.549372,NaN,NaN,NaN,-22.237882,-22.237882,-22.237882,-1.554141,-1.554141,-1.542048,-22.237882,-22.237882,0.000000,3778697.0,1.0,633861.0,30.0,None,2018-09-09,Mimoriadna,TRADEF spol. s r.o. v likvidácii,1991-04-19,2018-11-27,68200.0,None,112.0,0.0,2.0,False
780,6773.0,2015.0,5.0,5420295,699.0,217.0,0.0,0.0,0.0,0.0,217.0,0.0,0.0,0.0,217.0,0.0,217.0,217.0,217.0,6639.0,1006.0,-7428.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,217.0,217.0,0.0,217.0,0.0,217.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,2998738.0,1.0,616877.0,13.0,None,2016-05-26,Mimoriadna,"P E G A S U S spol. s r.o. ""v likvidácii""",1991-12-02,2016-08-18,72200.0,None,112.0,0.0,2.0,False
824,6921.0,2016.0,12.0,7327465,699.0,1800121.0,0.0,0.0,0.0,0.0,1800121.0,0.0,0.0,1800121.0,0.0,0.0,0.0,1800121.0,1800121.0,7390.0,4981807.0,-3187548.0,-1528.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1167.0,0.0,0.0,1147.0,0.0,20.0,0.0,0.0,0.0,0.0,-1167.0,-1147.0,0.0,361.0,-361.0,-1528.0,0.0,-1528.0,1800121.0,0.0,0.0,1800121.0,0.0,1800121.0,0.0,1800121.0,0.0,-1528.0,-1528.0,-1528.0,-1528.0,0.0,1167.0,0.0,0.0,0.0,0.665601,0.601234,0.175490,1.193061,0.00000,0.000000,4.771623,0.0,0.0,0.143624,80.834336,0.000000,0.084348,0.000000,0.000000,-0.952943,1.000000,NaN,0.000000,-0.000849,-0.000849,-0.000849,-0.000849,0.402478,0.402478,0.402478,-0.000849,-0.000849,-0.000334,4530129.0,1.0,603970.0,48.0,None,2020-11-12,Mimoriadna,"IBEA, spol. s r. o., v likvidácii",1991-01-17,2020-12-16,46900.0,None,112.0,0.0,2.0,False
969,7659.0,2015.0,12.0,8258543,687.0,8847.0,0.0,0.0,0.0,0.0,8847.0,0.0,0.0,8692.0,155.0,0.0,155.0,8847.0,7682.0,16597.0,1660.0,-10575.0,0.0,1165.0,3.0,0.0,0.0,1162.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8847.0,155.0,1162.0,7682.0,3.0,8847.0,1165.0,8692.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.613597,7.613597,0.133391,0.000000,0.01752,0.000000,NaN,NaN,NaN,NaN,NaN,0.131683,0.000000,0.131344,0.000339,6.593991,0.868317,NaN,0.133686,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,5288183.0,1.0,690708.0,77.0,None,None,Mimoriadna,"MEDA-TECH s.r.o. "" v likvidácii """,1990-12-19,2022-04-08,47410.0,None,112.0,0.0,2.0,False
980,7731.0,2015.0,6.0,5662482,687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6639.0,332.0,-6971.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3191547.0,2.0,585076.0,19.0,None,2017-06-23,Riadna,INTERCONTACT agency spol. s. r. o.,1990-07-27,2017-07-21,47430.0,None,112.0,0.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1672840,1969761.0,2021.0,1.0,7842988,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,4934686.0,1.0,53493117.0,13.0,None,2022-01-31,Riadna,Ludok s. r. o.,2021-01-27,None,82110.0,None,112.0,0.0,2.0,False
1674704,1977920.0,2021.0,1.0,7973142,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,5048965.0,1.0,53604814.0,15.0,None,2022-03-14,Riadna,"Milan Ondruš - OÁZA, s.r.o.",2021-03-18,None,55200.0,None,112.0,0.0,2.0,False
1677097,1990751.0,2021.0,1.0,8003070,687.0,6534.0,0.0,0.0,0.0,0.0,6534.0,0.0,0.0,0.0,6534.0,0.0,6534.0,5690.0,5000.0,5000.0,0.0,0.0,844.0,690.0,0.0,0.0,0.0,690.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,844.0,6534.0,6534.0,690.0,5000.0,0.0,6534.0,690.0,0.0,0.0,0.0,844.0,844.0,0.0,0.0,0.0,0.0,0.0,0.0,9.469565,9.469565,9.469565,0.000000,1.00000,0.000000,NaN,NaN,NaN,NaN,NaN,0.105601,0.000000,0.105601,0.000000,7.246377,0.765228,NaN,NaN,0.168800,0.129170,0.000000,0.000000,NaN,NaN,NaN,0.129170,0.129170,NaN,5073261.0,1.0,53742443.0,15.0,None,2022-03-29,Riadna,GROGUS s. r. o.,2021-05-04,None,70220.0,None,112.0,0.0,2.0,False
1683943,2024575.0,2021.0,1.0,7830431,687.0,5000.0,0.0,0.0,0.0,0.0,5000.0,0.0,0.0,0.0,5000.0,0.0,5000.0,5000.0,5000.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,5000.0,0.0,5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.00000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,4925097.0,1.0,54025567.0,13.0,None,2022-01-14,Riadna,SI-KE-25 s. r. o.,2021-10-12,None,82110.0,None,112.0,0.0,2.0,False
1684967,2028310.0,2021.0,1.0,7891826,687.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4978776.0,1.0,54162891.0,15.0,None,2022-03-04,Riadna,Sonata Optics s. r. o.,2021-10-26,None,47789.0,None,112.0,0.0,2.0,False

## Joining SKNACE codebook

In [55]:
codebook_sknace_raw = pd.read_csv('../../DATA/RAW/register_uz_apr23/preprocessed/codebook_sk-nace.csv')
codebook_sknace_divisions_raw = pd.read_csv('../../DATA/RAW/register_uz_apr23/preprocessed/codebook_sk-nace_divisions_su.csv', sep= '|')


codebook_sknace = codebook_sknace_raw[['kod', 'nazov.sk']]
codebook_sknace.columns = ['sknace_code', 'sknace_group']

codebook_sknace['sknace_code'] = pd.to_numeric(codebook_sknace['sknace_code'])
codebook_sknace['sknace_division_code'] = codebook_sknace['sknace_code'].apply(lambda x: x//1000)

# display(codebook_sknace)
# display(codebook_sknace_divisions_raw)

codebook_sknace_divisions = codebook_sknace_divisions_raw[['code', 'officialTitle', 'note']]
codebook_sknace_divisions.columns = ['sknace_division_code', 'sknace_division_name', 'sknace_division']
codebook_sknace_divisions['sknace_division_code'] = pd.to_numeric(codebook_sknace_divisions['sknace_division_code'])

codebook_sknace = codebook_sknace.merge(codebook_sknace_divisions, on = 'sknace_division_code', how = 'left')

codebook_sknace

C:\Users\matus.rohal\AppData\Local\Temp\ipykernel_6788\932557765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codebook_sknace['sknace_code'] = pd.to_numeric(codebook_sknace['sknace_code'])
C:\Users\matus.rohal\AppData\Local\Temp\ipykernel_6788\932557765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codebook_sknace_divisions['sknace_division_code'] = pd.to_numeric(codebook_sknace_divisions['sknace_division_code'])

,sknace_code,sknace_group,sknace_division_code,sknace_division_name,sknace_division
0,1110,Pestov.obilnín,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
1,1120,Pestov.ryže,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
2,1130,"Pestov.zeleniny,melónov",1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
3,1140,Pestov.cukrovej trstiny,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
4,1150,Pestov.tabaku,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
...,...,...,...,...,...
641,96090,Ost.osob.služby i.n.,96,Ostatné osobné služby,S
642,97000,Čin.domácn.ako zamestn.,97,Činnosti domácností ako zamestnávateľov domáce...,T
643,98100,Čin.v dom.produk.tovary,98,Nediferencované činnosti v domácnostiach produ...,T
644,98200,Čin.v dom.produk.služby,98,Nediferencované činnosti v domácnostiach produ...,T
645,99000,Čin.extrateritoriál.org.,99,Činnosti extrateritoriálnych organizácií a zdr...,U

In [56]:
df_statements_extended.shape[0]

1687865

In [57]:
merged_df = df_statements_extended.merge(codebook_sknace[['sknace_code', 'sknace_division_name', 'sknace_division']], on = 'sknace_code', how = 'left')
merged_df['sknace_subcategory'] = merged_df['sknace_code'] // 1000

# display(merged_df['sknace_subcategory'].value_counts().to_frame())

In [58]:
merged_df.shape[0]

1687865

In [59]:
df_statements_extended = None

In [60]:
merged_df.to_csv('../../DATA/MODEL/financial_ratios_df.csv', index = False)