In [1]:
from HELPERS.ReportContentParser import ReportContentParser

import pandas as pd
import numpy as np

import ast


pd.set_option('display.max_rows', 100)

In [14]:
reports_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_reports_table.csv')
statements_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_table.csv')

statements_table = statements_table[['financial_statement_id', 'entity_id', 'entity_ico', 'year', 'month']]

reports_table = reports_table.merge(statements_table, on = 'financial_statement_id', how = 'left')
statements_table = None

C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
parser = ReportContentParser()

records = []

size = reports_table.shape[0]

i = 0
for report in reports_table.itertuples():
    i += 1
    if i % 10000 == 0:
        print(f'{i}/{size}')
    # if i > 10:
    #     break

    financial_report_id = report.financial_report_id

    values = parser.parse(report.template_id, report.content)
    if len(values) == 0:
        continue

    records.append([financial_report_id] + values)

columns_names = [
    'financial_report_id',
    'ca', 'cc', 'ta', 'eq', 'cl', 'ncl',
    'tl', 'cash', 'cf', 'sal', 'eat',
    'ebit', 'ebt', 'stock', 'cost', 'it', 'yie']

primary_features_df = pd.DataFrame(records, columns=columns_names)

display(primary_features_df)

10000/2103889
20000/2103889
30000/2103889
40000/2103889
50000/2103889
60000/2103889
70000/2103889
80000/2103889
90000/2103889
100000/2103889
110000/2103889
120000/2103889
130000/2103889
140000/2103889
150000/2103889
160000/2103889
170000/2103889
180000/2103889
190000/2103889
200000/2103889
210000/2103889
220000/2103889
230000/2103889
240000/2103889
250000/2103889
260000/2103889
270000/2103889
280000/2103889
290000/2103889
300000/2103889
310000/2103889
320000/2103889
330000/2103889
340000/2103889
350000/2103889
360000/2103889
370000/2103889
380000/2103889
390000/2103889
400000/2103889
410000/2103889
420000/2103889
430000/2103889
440000/2103889
450000/2103889
460000/2103889
470000/2103889
480000/2103889
490000/2103889
500000/2103889
510000/2103889
520000/2103889
530000/2103889
540000/2103889
550000/2103889
560000/2103889
570000/2103889
580000/2103889
590000/2103889
600000/2103889
610000/2103889
620000/2103889
630000/2103889
640000/2103889
650000/2103889
660000/2103889
670000/2103889
680000/2103889
690000/2103889
700000/2103889
710000/2103889
720000/2103889
730000/2103889
740000/2103889
750000/2103889
760000/2103889
770000/2103889
780000/2103889
790000/2103889
800000/2103889
810000/2103889
820000/2103889
830000/2103889
840000/2103889
850000/2103889
860000/2103889
870000/2103889
880000/2103889
890000/2103889
900000/2103889
910000/2103889
920000/2103889
930000/2103889
940000/2103889
950000/2103889
960000/2103889
970000/2103889
980000/2103889
990000/2103889
1000000/2103889
1010000/2103889
1020000/2103889
1030000/2103889
1040000/2103889
1050000/2103889
1060000/2103889
1070000/2103889
1080000/2103889
1090000/2103889
1100000/2103889
1110000/2103889
1120000/2103889
1130000/2103889
1140000/2103889
1150000/2103889
1160000/2103889
1170000/2103889
1180000/2103889
1190000/2103889
1200000/2103889
1210000/2103889
1220000/2103889
1230000/2103889
1240000/2103889
1250000/2103889
1260000/2103889
1270000/2103889
1280000/2103889
1290000/2103889
1300000/2103889
1310000/2103889
1320000/2103889
1330000/2103889
1340000/2103889
1350000/2103889
1360000/2103889
1370000/2103889
1380000/2103889
1390000/2103889
1400000/2103889
1410000/2103889
1420000/2103889
1430000/2103889
1440000/2103889
1450000/2103889
1460000/2103889
1470000/2103889
1480000/2103889
1490000/2103889
1500000/2103889
1510000/2103889
1520000/2103889
1530000/2103889
1540000/2103889
1550000/2103889
1560000/2103889
1570000/2103889
1580000/2103889
1590000/2103889
1600000/2103889
1610000/2103889
1620000/2103889
1630000/2103889
1640000/2103889
1650000/2103889
1660000/2103889
1670000/2103889
1680000/2103889
1690000/2103889
1700000/2103889
1710000/2103889
1720000/2103889
1730000/2103889
1740000/2103889
1750000/2103889
1760000/2103889
1770000/2103889
1780000/2103889
1790000/2103889
1800000/2103889
1810000/2103889
1820000/2103889
1830000/2103889
1840000/2103889
1850000/2103889
1860000/2103889
1870000/2103889
1880000/2103889
1890000/2103889
1900000/2103889
1910000/2103889
1920000/2103889
1930000/2103889
1940000/2103889
1950000/2103889
1960000/2103889
1970000/2103889
1980000/2103889
1990000/2103889
2000000/2103889
2010000/2103889
2020000/2103889
2030000/2103889
2040000/2103889
2050000/2103889
2060000/2103889
2070000/2103889
2080000/2103889
2090000/2103889
2100000/2103889

,financial_report_id,ca,cc,ta,eq,cl,ncl,tl,cash,cf,sal,eat,ebit,ebt,stock,cost,it,yie
0,4647638,2156354.0,1052505.0,2603190.0,132963.0,2376048.0,92568.0,2468616.0,367943.0,-117320.0,8106320.0,-241686.0,-278690.0,-264608.0,735906.0,8472835.0,2356.0,8208227.0
1,5107721,4280653.0,3174866.0,4824857.0,611972.0,3043425.0,1161402.0,4204827.0,176879.0,568905.0,13242781.0,479009.0,461473.0,539852.0,928908.0,12791185.0,7900.0,13331037.0
2,5681092,2214346.0,634487.0,2589529.0,353020.0,1869955.0,359885.0,2229840.0,19840.0,-177403.0,8680049.0,-258952.0,-410512.0,-256070.0,1560019.0,9128404.0,12401.0,8872334.0
3,6117843,2093591.0,580512.0,2371669.0,496912.0,717232.0,1153069.0,1870301.0,26087.0,-53294.0,9234343.0,-106107.0,-270033.0,-103227.0,1486992.0,9527432.0,32281.0,9424205.0
4,6599012,1972167.0,929846.0,2328742.0,543483.0,1351878.0,422852.0,1774730.0,13326.0,94629.0,11245581.0,46570.0,-164217.0,47920.0,1028995.0,11431712.0,28739.0,11479632.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763204,8150261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1763205,8044641,27500.0,0.0,27500.0,27500.0,0.0,0.0,0.0,27500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1763206,7989563,27588.0,0.0,27588.0,27588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1763207,4614507,378103.0,323229.0,525371.0,194194.0,243246.0,45872.0,289118.0,52518.0,73481.0,1582618.0,35112.0,88862.0,46186.0,2356.0,1557573.0,3237.0,1603759.0
1763208,5836403,2605594.0,2597070.0,3918306.0,-588767.0,1520530.0,2986543.0,4507073.0,8524.0,-712850.0,881521.0,-820284.0,-683106.0,-817403.0,0.0,2738565.0,102193.0,1921162.0

In [16]:
primary_features_df.to_csv('../../DATA/TRANSFORM/financial_statements/financial_reports_features.csv', index = False)