In [1]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv('../../DATA/MODEL/primary_features_df.csv')
df

,financial_report_id,total_assets,non_current_assets,intangible_assets,total_non_current_tangible_assets,land_and_buildings,separate_movable_assets_and_sets_of_movable_assets,other_long_term_tangible_assets,adjustment_item_for_acquired_assets,total_long_term_financial_assets,bank_balances_with_maturity_longer_than_one_year,current_assets,inventories,non_current_claims,current_claims,trade_receivables,social_security_tax_receivables_and_grants,financial_assets,other_financial_accounts,cash_and_bank_balances,total_owners_equity_and_liabilities,owners_equity,share_capital,share_capital_and_changes_in_share_capital,claims_for_subscribed_owners_equity,capital_funds,valuation_differences,undivided_profit_or_unpaid_loss_from_previous_years,profit_for_the_reporting_period_after_tax,liabilities,long_term_liabilities_excluding_reserves_and_loans,long_term_reserves,long_term_bank_loans,total_short_term_liabilities_excluding_reserves_loans_and_advances,short_term_trade_liabilities,liabilities_to_employees_and_social_insurance,tax_liabilities_and_grants,short_term_reserves,current_bank_loans,total_operating_revenue,sales_revenue,revenue_from_the_sale_of_own_products_and_services,change_in_intra_organizational_inventories,activation,revenue_from_the_sale_of_long_term_intangible_assets_long_term_tangible_assets_and_materials,other_revenues_from_operating_activities,total_operating_costs,costs_incurred_to_acquire_sold_goods,consumption_of_materials_energy_and_other_non_inventory_supplies,services,personnel_costs,taxes_and_fees,depreciation_and_adjustments_to_long_term_intangible_assets_and_long_term_tangible_assets,remaining_cost_of_sold_long_term_assets_and_materials,adjustments_to_receivables,other_costs_of_operating_activities,operating_result_from_operating_activities,value_added,total_financial_revenues,revenue_from_the_sale_of_securities_and_shares,revenue_from_long_term_financial_assets,revenue_from_short_term_financial_assets,interest_income,exchange_gains,other_revenues_from_financial_activities,total_financial_costs,sale_of_securities_and_shares,costs_of_short_term_financial_assets,adjustments_to_financial_assets,interest_expenses,exchange_losses,other_costs_of_financial_activities,financial_result,result_of_operations_for_the_reporting_period_before_tax,income_tax,transfer_of_shares_in_the_result_to_shareholders,result_of_operations_for_the_reporting_period_after_tax,CA,CASH,CL,EQ,NCL,TA,TL,CC,INV,CF_NETTO,CF_SELFFIN,EAT,EBIT,SAL,COST,INT,YIE
0,4647638,2603190.0,312879.0,0.0,312879.0,0.0,312879.0,0.0,0.0,0.0,0.0,2248299.0,735906.0,91945.0,1052505.0,1050453.0,537.0,367943.0,0.0,367943.0,2603190.0,132963.0,128082.0,128082.0,0.0,1425051.0,-1178484.0,-1178484.0,-241686.0,2468616.0,7206.0,4447.0,0.0,2376048.0,937090.0,60101.0,138830.0,80915.0,0.0,8208096.0,7141876.0,554435.0,0.0,0.0,410009.0,101776.0,8467416.0,6091616.0,169457.0,608739.0,809755.0,8520.0,127261.0,335367.0,85967.0,162548.0,-259320.0,758313.0,131.0,0.0,0.0,0.0,0.0,117.0,14.0,5419.0,0.0,0.0,0.0,2356.0,64.0,2999.0,-5288.0,-264608.0,-22922.0,0.0,-241686.0,2156354.0,367943.0,2376048.0,132963.0,92568.0,2603190.0,2468616.0,1052505.0,735906.0,-137347.0,-114425.0,-241686.0,-264608.0,8106320.0,8472835.0,2356.0,8208227.0
1,5107721,4824857.0,429839.0,0.0,429839.0,0.0,423149.0,0.0,0.0,0.0,0.0,4356401.0,928908.0,75748.0,3174866.0,3169411.0,0.0,176879.0,0.0,176879.0,4824857.0,611972.0,128082.0,128082.0,0.0,1425051.0,-1420170.0,-1420170.0,479009.0,4204827.0,1005617.0,18109.0,0.0,3043425.0,2214460.0,75919.0,731174.0,137676.0,0.0,13330960.0,12308086.0,598237.0,0.0,0.0,336458.0,88179.0,12778408.0,10237383.0,164125.0,867815.0,942223.0,8328.0,89896.0,281138.0,67262.0,135080.0,552552.0,1651842.0,77.0,0.0,0.0,0.0,0.0,77.0,0.0,12777.0,0.0,0.0,0.0,7900.0,1810.0,3067.0,-12700.0,539852.0,60843.0,0.0,479009.0,4280653.0,176879.0,3043425.0,611972.0,1161402.0,4824857.0,4204827.0,3174866.0,928908.0,629748.0,568905.0,479009.0,539852.0,13242781.0,12791185.0,7900.0,13331037.0
2,5681092,2589529.0,249960.0,0.0,249960.0,0.0,249960.0,0.0,0.0,0.0,0.0,2290094.0,1560019.0,75748.0,634487.0,584863.0,44643.0,19840.0,0.0,19840.0,2589529.0,353020.0,128082.0,128082.0,0.0,1425051.0,-941161.0,-941161.0,-258952.0,2229840.0,7876.0,20352.0,0.0,1869955.0,1653358.0,75003.0,107824.0,75595.0,256062.0,8872334.0,7921048.0,550634.0,0.0,0.0,208367.0,192285.0,9108837.0,6450413.0,158677.0,1003149.0,914817.0,7515.0,81549.0,168498.0,34731.0,266074.0,-236503.0,836029.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19567.0,0.0,0.0,0.0,12401.0,403.0,6763.0,-19567.0,-256070.0,2882.0,0.0,-258952.0,2214346.0,19840.0,1869955.0,353020.0,359885.0,2589529.0,2229840.0,634487.0,1560019.0,-174521.0,-177403.0,-258952.0,-256070.0,8680049.0,9128404.0,12401.0,8872334.0
3,6117843,2371669.0,144587.0,0.0,144587.0,0.0,144587.0,0.0,0.0,0.0,0.0,2169339.0,1486992.0,75748.0,580512.0,567376.0,11833.0,26087.0,0.0,26087.0,2371669.0,496912.0,128082.0,128082.0,0.0,1675051.0,-1200114.0,-1200114.0,-106107.0,1870301.0,826947.0,19449.0,0.0,717232.0,482764.0,78239.0,152864.0,101554.0,205119.0,9424003.0,8514692.0,587738.0,0.0,0.0,131913.0,189660.0,9490550.0,6916925.0,167527.0,1047108.0,968570.0,9498.0,52813.0,119592.0,-5685.0,210022.0,-66547.0,966690.0,202.0,0.0,0.0,0.0,0.0,202.0,0.0,36882.0,0.0,0.0,0.0,32281.0,303.0,4298.0,-36680.0,-103227.0,2880.0,0.0,-106107.0,2093591.0,26087.0,717232.0,496912.0,1153069.0,2371669.0,1870301.0,580512.0,1486992.0,-50414.0,-53294.0,-106107.0,-103227.0,9234343.0,9527432.0,32281.0,9424205.0
4,6599012,2328742.0,130692.0,0.0,130692.0,0.0,130692.0,0.0,0.0,0.0,0.0,2047915.0,1028995.0,75748.0,929846.0,927827.0,0.0,13326.0,0.0,13326.0,2328742.0,543483.0,128082.0,128082.0,0.0,1675051.0,-1306220.0,-1306220.0,46570.0,1774730.0,6604.0,7120.0,0.0,1351878.0,748503.0,83102.0,262155.0,124477.0,284651.0,11479552.0,10491701.0,654175.0,0.0,0.0,99705.0,233971.0,11397983.0,8720582.0,172999.0,1069906.0,1071826.0,7833.0,48059.0,76084.0,10923.0,218888.0,81569.0,1181506.0,80.0,0.0,0.0,0.0,0.0,80.0,0.0,33729.0,0.0,0.0,0.0,28739.0,920.0,4070.0,-33649.0,47920.0,1350.0,0.0,46570.0,1972167.0,13326.0,1351878.0,543483.0,422852.0,2328742.0,1774730.0,929846.0,1028995.0,95979.0,94629.0,46570.0,47920.0,11245581.0,11431712.0,28739.0,11479632.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763204,8150261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2500.0,25000.0,-27500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1763205,8044641,27500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27500.0,0.0,0.0,0.0,0.0,0.0,27500.0,0.0,27500.0,27500.0,27500.0,25000.0,25000.0,0.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27500.0,27500.0,0.0,27500.0,0.0,27500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1763206,7989563,27588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27588.0,0.0,0.0,27588.0,0.0,0.0,0.0,0.0,0.0,27588.0,27588.0,25080.0,25080.0,0.0,2508.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27588.0,0.0,0.0,27588.0,0.0,27588.0,0.0,27588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1763207,4614507,525371.0,48642.0,0.0,48642.0,0.0,48642.0,0.0,0.0,0.0,0.0,378103.0,2356.0,0.0,323229.0,270755.0,8816.0,52518.0,0.0,52518.0,525371.0,194194.0,132776.0,132776.0,0.0,26306.0,0.0,0.0,35112.0,289118.0,18789.0,0.0,0.0,243246.0,148171.0,49893.0,23402.0,27083.0,0.0,1603626.0,34857.0,1547528.0,0.0,0.0,233.0,21008.0,1553004.0,21583.0,144665.0,669087.0,595576.0,1792.0,38369.0,0.0,59481.0,22451.0,50622.0,747050.0,133.0,0.0,0.0,0.0,3.0,130.0,0.0,4569.0,0.0,0.0,0.0,3234.0,786.0,549.0,-4436.0,46186.0,11074.0,0.0,35112.0,378103.0,52518.0,243246.0,194194.0,45872.0,525371.0,289118.0,323229.0,2356.0,84555.0,73481.0,35112.0,46186.0,1582618.0,1557573.0,3237.0,1603759.0
1763208,5836403,3918306.0,1307248.0,1252579.0,20419.0,0.0,20419.0,0.0,0.0,34250.0,0.0,2605594.0,0.0,0.0,2597070.0,1443854.0,88276.0,8524.0,0.0,8524.0,3918306.0,-588767.0,25000.0,25000.0,0.0,2500.0,204017.0,204017.0,-820284.0,4507073.0,2329016.0,0.0,0.0,1520530.0,889075.0,36183.0,80251.0,10262.0,647265.0,1890702.0,0.0,851635.0,0.0,1001751.0,29886.0,7430.0,2658576.0,0.0,48394.0,1680880.0,693771.0,706.0,107434.0,20900.0,101184.0,5307.0,-767874.0,124112.0,30460.0,0.0,0.0,0.0,30411.0,49.0,0.0,79989.0,0.0,0.0,0.0,71782.0,263.0,7944.0,-49529.0,-817403.0,2881.0,0.0,-820284.0,2605594.0,8524.0,1520530.0,-588767.0,2986543.0,3918306.0,4507073.0,2597070.0,0.0,-709969.0,-712850.0,-820284.0,-817403.0,881521.0,2738565.0,102193.0,1921162.0

In [3]:
priamry_processed_values = ['CA','CASH','CL','EQ','NCL','TA','TL','CC','INV','CF_NETTO','CF_SELFFIN','EAT','EBIT','SAL','COST','INT','YIE']

df = df[['financial_report_id'] + priamry_processed_values]

In [4]:
df.iloc[:, 1:].describe().T

,count,mean,std,min,25%,50%,75%,max
CA,1763209.0,324555.334765,5.085188e+06,-14784391.0,7136.0,24607.0,96218.0,3.288340e+09
CASH,1763209.0,72274.699280,2.585032e+06,-14841975.0,3521.0,9068.0,30022.0,2.654427e+09
CL,1763209.0,241501.590665,2.632965e+06,-6092623.0,1621.0,14372.0,80965.0,1.076414e+09
EQ,1763209.0,239314.768814,3.998296e+06,-435636281.0,2309.0,9493.0,42976.0,6.552407e+08
NCL,1763209.0,284897.494519,7.516093e+07,-16335478.0,0.0,211.0,13968.0,9.959941e+10
TA,1763209.0,793599.922333,7.706135e+07,-5099469.0,10080.0,40150.0,176720.0,9.959956e+10
TL,1763209.0,526399.085185,7.523497e+07,-3861110.0,2384.0,22308.0,121890.0,9.959954e+10
CC,1763209.0,182021.779505,3.389468e+06,-9825583.0,109.0,5072.0,33283.0,1.400580e+09
INV,1763209.0,70258.855979,8.375205e+05,-5750264.0,0.0,0.0,1790.0,2.215000e+08
CF_NETTO,1763209.0,52056.263993,8.662394e+05,-185606218.0,-116.0,2270.0,16529.0,2.995041e+08
CF_SELFFIN,1763209.0,45755.347963,8.473785e+05,-185606218.0,-480.0,1780.0,14476.0,2.995012e+08
EAT,1763209.0,18692.317924,7.541622e+05,-185606218.0,-1130.0,493.0,6913.0,2.995012e+08
EBIT,1763209.0,26329.236008,7.948221e+05,-185606218.0,-780.0,888.0,8730.0,2.995041e+08
SAL,1763209.0,683802.999623,7.299065e+06,-30496931.0,4000.0,36797.0,160424.0,1.708491e+09
COST,1763209.0,712780.732116,7.804105e+06,-75998727.0,5612.0,36862.0,164869.0,1.645877e+09
INT,1763209.0,9067.491379,2.758140e+05,-453189.0,0.0,0.0,343.0,8.720448e+07
YIE,1763209.0,739110.216345,7.979590e+06,-30496931.0,5010.0,39318.0,171748.0,1.708499e+09

In [5]:
def get_ratios(row):
    row['L3'] = ( row['CA'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['L2'] = ( row['CASH']+row['CC'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['L1'] = ( row['CASH'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['CF_CL'] = ( row['CF_NETTO'] ) / ( row['CL'] ) if row['CL'] > 0 else None
    row['CASH_TA'] = ( row['CASH'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['SAL_TA'] = ( row['SAL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['TL_SAL'] = ( row['TL'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['INV_COST'] = ( row['INV'] * 360 ) / ( row['COST'] ) if row['COST'] > 0 else None
    row['INV_SAL'] = ( row['INV'] * 360 ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['CC_SAL'] = ( row['CC'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['TA_SAL'] = ( row['TA'] * 360 ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['TL_TA'] = ( row['TL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['CF_TL'] = ( row['CF_NETTO'] ) / ( row['TL'] ) if row['TL'] > 0 else None
    row['CL_TA'] = ( row['CL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['NCL_TA'] = ( row['NCL'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['EQ_TL'] = ( row['EQ'] ) / ( row['TL'] ) if row['TL'] > 0 else None
    row['EQ_TA'] = ( row['EQ'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['EBIT_INT'] = ( row['EBIT']+row['INT'] ) / ( row['INT'] ) if row['INT'] > 0 else None
    row['CL_CC'] = ( row['CL'] ) / ( row['CC'] ) if row['CC'] > 0 else None
    row['ROE'] = ( row['EAT'] ) / ( row['EQ'] ) if row['EQ'] > 0 else None
    row['EAT_TA'] = ( row['EAT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['ROA_BRUTTO'] = ( row['EBIT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['CF_TA'] = ( row['CF_NETTO'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['CF_SAL'] = ( row['CF_NETTO'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['ROS'] = ( row['EAT'] ) / ( row['SAL'] ) if row['SAL'] > 0 else None
    row['EAT_YIE'] = ( row['EAT'] ) / ( row['YIE'] ) if row['YIE'] > 0 else None
    row['ROI'] = ( row['EAT']+row['INT'] ) / ( row['TA'] ) if row['TA'] > 0 else None
    row['ROA_NETTO'] = ( row['EAT'] ) / ( row['TA'] ) if row['TA'] > 0 else None

    return row


records = []
k = 0
size = df.shape[0]

for row_dict in df.to_dict(orient="records"):
    # if k >= 100:
    #     break

    if (k + 1) % 50000 == 0:
        print(f'{k + 1} / {size}')

    k += 1

    records.append(get_ratios(row_dict))


df_extended = pd.DataFrame(records)

50000 / 1763209
100000 / 1763209
150000 / 1763209
200000 / 1763209
250000 / 1763209
300000 / 1763209
350000 / 1763209
400000 / 1763209
450000 / 1763209
500000 / 1763209
550000 / 1763209
600000 / 1763209
650000 / 1763209
700000 / 1763209
750000 / 1763209
800000 / 1763209
850000 / 1763209
900000 / 1763209
950000 / 1763209
1000000 / 1763209
1050000 / 1763209
1100000 / 1763209
1150000 / 1763209
1200000 / 1763209
1250000 / 1763209
1300000 / 1763209
1350000 / 1763209
1400000 / 1763209
1450000 / 1763209
1500000 / 1763209
1550000 / 1763209
1600000 / 1763209
1650000 / 1763209
1700000 / 1763209
1750000 / 1763209

In [6]:
df_extended = pd.DataFrame(records)

In [7]:
ratios = ['CF_NETTO', 'CF_SELFFIN', 'EAT', 'EBIT', 'SAL', 'COST', 'INT', 'YIE',
       'L3', 'L2', 'L1', 'CF_CL', 'CASH_TA', 'SAL_TA', 'TL_SAL', 'INV_COST',
       'INV_SAL', 'CC_SAL', 'TA_SAL', 'TL_TA', 'CF_TL', 'CL_TA', 'NCL_TA',
       'EQ_TL', 'EQ_TA', 'EBIT_INT', 'CL_CC', 'ROE', 'EAT_TA', 'ROA_BRUTTO',
       'CF_TA', 'CF_SAL', 'ROS', 'EAT_YIE', 'ROI', 'ROA_NETTO']


df_extended[ratios].describe().T

,count,mean,std,min,25%,50%,75%,max
CF_NETTO,1763209.0,52056.263993,8.662394e+05,-1.856062e+08,-116.000000,2270.000000,16529.000000,2.995041e+08
CF_SELFFIN,1763209.0,45755.347963,8.473785e+05,-1.856062e+08,-480.000000,1780.000000,14476.000000,2.995012e+08
EAT,1763209.0,18692.317924,7.541622e+05,-1.856062e+08,-1130.000000,493.000000,6913.000000,2.995012e+08
EBIT,1763209.0,26329.236008,7.948221e+05,-1.856062e+08,-780.000000,888.000000,8730.000000,2.995041e+08
SAL,1763209.0,683802.999623,7.299065e+06,-3.049693e+07,4000.000000,36797.000000,160424.000000,1.708491e+09
COST,1763209.0,712780.732116,7.804105e+06,-7.599873e+07,5612.000000,36862.000000,164869.000000,1.645877e+09
INT,1763209.0,9067.491379,2.758140e+05,-4.531890e+05,0.000000,0.000000,343.000000,8.720448e+07
YIE,1763209.0,739110.216345,7.979590e+06,-3.049693e+07,5010.000000,39318.000000,171748.000000,1.708499e+09
L3,1609284.0,36.243925,5.865823e+03,-1.939807e+04,0.779430,1.744192,5.782889,6.632828e+06
L2,1609284.0,34.187229,5.814287e+03,-1.939807e+04,0.540963,1.499037,5.348945,6.632828e+06
L1,1609284.0,17.459562,1.100034e+03,-1.939807e+04,0.111999,0.683712,3.411639,6.758690e+05
CF_CL,1609284.0,-1.735890,3.876456e+03,-4.828154e+06,-0.011653,0.171098,1.047929,4.104870e+05
CASH_TA,1717851.0,0.499896,6.410686e+01,-4.790000e+02,0.077998,0.343102,0.818095,8.350930e+04
SAL_TA,1717851.0,3.677444,3.786158e+02,-5.020000e+02,0.167335,0.918777,1.992129,3.457260e+05
TL_SAL,1440480.0,400.439286,7.249368e+04,-5.873311e+03,0.145567,0.373632,1.066667,4.089693e+07
INV_COST,1611669.0,2668.888301,4.054020e+05,-2.143800e+06,0.000000,0.000000,8.911029,2.958960e+08
INV_SAL,1440480.0,28284.987459,1.230825e+07,-2.641140e+06,0.000000,0.000000,12.780004,1.262517e+10
CC_SAL,1440480.0,84.119425,2.177640e+04,-6.313000e+03,0.031569,0.123372,0.315686,1.351931e+07
TA_SAL,1440480.0,170601.502991,2.819145e+07,-2.669760e+06,156.825327,299.916982,685.341358,1.379876e+10
TL_TA,1717851.0,54.898264,2.970148e+04,-1.170720e+04,0.152971,0.551570,0.923517,3.732389e+07
CF_TL,1626183.0,-1.968576,3.822741e+03,-4.828154e+06,-0.009807,0.112978,0.615485,2.020956e+05
CL_TA,1717851.0,50.424752,2.965509e+04,-1.190400e+04,0.089299,0.327396,0.761382,3.731080e+07
NCL_TA,1717851.0,4.473512,1.057878e+03,-7.485250e+03,0.000000,0.006358,0.159821,6.519300e+05
EQ_TL,1626183.0,34.982844,2.926800e+03,-1.939907e+04,0.050791,0.631821,3.680256,1.984696e+06
EQ_TA,1717851.0,-53.913856,2.970151e+04,-3.732389e+07,0.072783,0.440366,0.844434,1.170820e+04
EBIT_INT,696210.0,1253.711310,1.126538e+05,-4.740091e+07,-1.592642,4.879204,50.632040,4.586330e+07
CL_CC,1382967.0,208.411662,5.697015e+04,-8.213780e+05,0.668960,1.679913,6.175037,6.510560e+07
ROE,1401809.0,-0.829745,1.068952e+02,-2.749900e+04,-0.022100,0.075902,0.289080,6.515051e+04
EAT_TA,1717851.0,-7.769434,7.143998e+03,-9.322502e+06,-0.048803,0.011024,0.114147,1.015460e+05
ROA_BRUTTO,1717851.0,-7.618072,7.143995e+03,-9.322502e+06,-0.030028,0.018601,0.145947,1.020260e+05
CF_TA,1717851.0,-7.769515,7.149003e+03,-9.322502e+06,-0.007221,0.058414,0.208668,6.515051e+04
CF_SAL,1440480.0,-8.857743,9.356169e+03,-4.298885e+06,0.004864,0.078604,0.244634,4.916876e+06
ROS,1440480.0,-12.466595,8.639847e+03,-4.298885e+06,-0.037217,0.024975,0.122766,3.862550e+06
EAT_YIE,1485909.0,-114.299582,4.467517e+04,-4.740188e+07,-0.046785,0.022644,0.117858,1.430609e+06
ROI,1717851.0,-7.696977,7.143878e+03,-9.322483e+06,-0.043731,0.017579,0.119853,1.015460e+05
ROA_NETTO,1717851.0,-7.769434,7.143998e+03,-9.322502e+06,-0.048803,0.011024,0.114147,1.015460e+05

In [12]:
statements_reports_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_reports_table.csv')
statements_table = pd.read_csv('../../DATA/TRANSFORM/financial_statements/financial_statements_table.csv')


entity_details_table = pd.read_csv('../../DATA/TRANSFORM/entity_details/financial_statements_register_entity_details.csv')

entity_details_table = entity_details_table[['id', 'establishment_date', 'sknace_code', 'entity_state']].rename(columns={'id': 'entity_id'})

statements_table = statements_table[['financial_statement_id', 'entity_id', 'entity_ico', 'year', 'month', 'period_length', 'consolidated', 'type', 'entity_name']]

display(df_extended.shape[0])

df_statements_extended = (df_extended
                          .drop_duplicates('financial_report_id')
                          .merge(
                              statements_reports_table.drop_duplicates('financial_report_id'),
                              on = 'financial_report_id',
                              how = 'left')
                          .merge(
                              statements_table,
                              on = 'financial_statement_id',
                              how = 'left')
                          .merge(
                              entity_details_table.drop_duplicates('entity_id'),
                              on = 'entity_id',
                              how = 'left'))

df_statements_extended = df_statements_extended

display(df_statements_extended.shape[0])

statements_reports_table = None
statements_table = None
entity_details_table = None

C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\matus.rohal\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3433: DtypeWarning: Columns (13,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1763209

1763149

In [17]:
df_statements_extended = df_statements_extended[
    ['financial_report_id', 'financial_statement_id',
     'financial_report_order_number', 'entity_id',
     'entity_ico', 'year', 'month', 'period_length', 'consolidated', 'type',
     'entity_name', 'establishment_date', 'sknace_code', 'entity_state',
     
     
     'CA', 'CASH', 'CL', 'EQ', 'NCL', 'TA', 'TL',
     'CC', 'INV', 'CF_NETTO', 'CF_SELFFIN', 'EAT', 'EBIT', 'SAL', 'COST',
     'INT', 'YIE',
     
     'L3', 'L2', 'L1', 'CF_CL', 'CASH_TA', 'SAL_TA', 'TL_SAL',
     'INV_COST', 'INV_SAL', 'CC_SAL', 'TA_SAL', 'TL_TA', 'CF_TL', 'CL_TA',
     'NCL_TA', 'EQ_TL', 'EQ_TA', 'EBIT_INT', 'CL_CC', 'ROE', 'EAT_TA',
     'ROA_BRUTTO', 'CF_TA', 'CF_SAL', 'ROS', 'EAT_YIE', 'ROI', 'ROA_NETTO'
     ]
]

df_statements_extended

,financial_report_id,financial_statement_id,financial_report_order_number,entity_id,entity_ico,year,month,period_length,consolidated,type,entity_name,establishment_date,sknace_code,entity_state,CA,CASH,CL,EQ,NCL,TA,TL,CC,INV,CF_NETTO,CF_SELFFIN,EAT,EBIT,SAL,COST,INT,YIE,L3,L2,L1,CF_CL,CASH_TA,SAL_TA,TL_SAL,INV_COST,INV_SAL,CC_SAL,TA_SAL,TL_TA,CF_TL,CL_TA,NCL_TA,EQ_TL,EQ_TA,EBIT_INT,CL_CC,ROE,EAT_TA,ROA_BRUTTO,CF_TA,CF_SAL,ROS,EAT_YIE,ROI,ROA_NETTO
0,4647638,2384908,1,15,643581.0,2014,1,12,NaN,Riadna,TERRASTROJ spol. s r.o.,1991-02-13,46630.0,NaN,2156354.0,367943.0,2376048.0,132963.0,92568.0,2603190.0,2468616.0,1052505.0,735906.0,-137347.0,-114425.0,-241686.0,-264608.0,8106320.0,8472835.0,2356.0,8208227.0,0.907538,0.597820,0.154855,-0.057805,0.141343,3.113995,0.304530,31.267711,32.681434,0.129838,115.607131,0.948304,-0.055637,0.912745,0.035559,0.053861,0.051077,-111.312394,2.257517,-1.817694,-0.092842,-0.101648,-0.052761,-0.016943,-0.029815,-0.029444,-0.091937,-0.092842
1,5107721,2744533,1,15,643581.0,2015,1,12,NaN,Riadna,TERRASTROJ spol. s r.o.,1991-02-13,46630.0,NaN,4280653.0,176879.0,3043425.0,611972.0,1161402.0,4824857.0,4204827.0,3174866.0,928908.0,629748.0,568905.0,479009.0,539852.0,13242781.0,12791185.0,7900.0,13331037.0,1.406525,1.101307,0.058118,0.206921,0.036660,2.744699,0.317518,26.143542,25.252013,0.239743,131.161915,0.871493,0.149768,0.630780,0.240712,0.145540,0.126837,69.335696,0.958600,0.782730,0.099279,0.111890,0.130522,0.047554,0.036171,0.035932,0.100917,0.099279
2,5681092,3205809,3,15,643581.0,2016,1,12,NaN,Riadna,TERRASTROJ spol. s r.o.,1991-02-13,46630.0,NaN,2214346.0,19840.0,1869955.0,353020.0,359885.0,2589529.0,2229840.0,634487.0,1560019.0,-174521.0,-177403.0,-258952.0,-256070.0,8680049.0,9128404.0,12401.0,8872334.0,1.184171,0.349916,0.010610,-0.093329,0.007662,3.351980,0.256893,61.523004,64.700884,0.073097,107.399214,0.861099,-0.078266,0.722122,0.138977,0.158316,0.136326,-19.649141,2.947192,-0.733534,-0.100000,-0.098887,-0.067395,-0.020106,-0.029833,-0.029186,-0.095211,-0.100000
3,6117843,3556391,1,15,643581.0,2017,1,12,NaN,Riadna,TERRASTROJ spol. s r.o.,1991-02-13,46630.0,NaN,2093591.0,26087.0,717232.0,496912.0,1153069.0,2371669.0,1870301.0,580512.0,1486992.0,-50414.0,-53294.0,-106107.0,-103227.0,9234343.0,9527432.0,32281.0,9424205.0,2.918987,0.845750,0.036372,-0.070290,0.010999,3.893605,0.202538,56.186926,57.970244,0.062864,92.459295,0.788601,-0.026955,0.302417,0.486185,0.265686,0.209520,-2.197763,1.235516,-0.213533,-0.044739,-0.043525,-0.021257,-0.005459,-0.011490,-0.011259,-0.031128,-0.044739
4,6599012,3944867,3,15,643581.0,2018,1,12,NaN,Riadna,TERRASTROJ spol. s r.o.,1991-02-13,46630.0,NaN,1972167.0,13326.0,1351878.0,543483.0,422852.0,2328742.0,1774730.0,929846.0,1028995.0,95979.0,94629.0,46570.0,47920.0,11245581.0,11431712.0,28739.0,11479632.0,1.458835,0.697675,0.009857,0.070997,0.005722,4.829037,0.157816,32.404438,32.940779,0.082685,74.549027,0.762098,0.054081,0.580519,0.181580,0.306234,0.233381,2.667421,1.453873,0.085688,0.019998,0.020578,0.041215,0.008535,0.004141,0.004057,0.032339,0.019998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763144,8150261,5192577,2,2041618,54297249.0,2021,1,12,NaN,Riadna,"TnC VII, a. s.",2021-12-21,82990.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1763145,8044641,5110158,1,2041659,54307473.0,2021,12,1,NaN,Riadna,Bopema a. s.,2021-12-24,82990.0,NaN,27500.0,27500.0,0.0,27500.0,0.0,27500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000
1763146,7989563,5063068,1,2044647,54255368.0,2021,12,1,NaN,Riadna,"QSP Holding, a. s.",2021-12-18,70220.0,NaN,27588.0,0.0,0.0,27588.0,0.0,27588.0,0.0,27588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000
1763147,4614507,2357676,1,386355,36008613.0,2014,1,12,NaN,Riadna,"Minerva Slovensko, a.s.",1996-09-11,62090.0,NaN,378103.0,52518.0,243246.0,194194.0,45872.0,525371.0,289118.0,323229.0,2356.0,84555.0,73481.0,35112.0,46186.0,1582618.0,1557573.0,3237.0,1603759.0,1.554406,1.544720,0.215905,0.347611,0.099964,3.012382,0.182683,0.544539,0.535922,0.204237,119.506767,0.550312,0.292458,0.462999,0.087314,0.671677,0.369632,15.268150,0.752550,0.180809,0.066833,0.087911,0.160943,0.053427,0.022186,0.021894,0.072994,0.066833
1763148,5836403,3331241,1,1109490,46117491.0,2016,1,12,NaN,Riadna,JUMP soft a.s.,2011-04-06,47410.0,NaN,2605594.0,8524.0,1520530.0,-588767.0,2986543.0,3918306.0,4507073.0,2597070.0,0.0,-709969.0,-712850.0,-820284.0,-817403.0,881521.0,2738565.0,102193.0,1921162.0,1.713609,1.713609,0.005606,-0.466922,0.002175,0.224975,5.112837,0.000000,0.000000,2.946124,1600.177602,1.150261,-0.157523,0.388058,0.762203,-0.130632,-0.150261,-6.998620,0.585479,NaN,-0.209347,-0.208611,-0.181193,-0.805391,-0.930533,-0.426973,-0.183266,-0.209347

In [13]:
# for col in entity_details_table.columns:
#     distinct_values = entity_details_table[col].nunique()
#     print(col)
#     print('distinct values:', distinct_values)
#     if distinct_values < 100:
#         display(entity_details_table[col].value_counts().head(10))
#     print()

In [18]:
df_statements_extended = (df_statements_extended
                          .query('2014 <= year <= 2021')
                          .sort_values(['TA', 'SAL'], ascending=[False, False])
                          .groupby(['entity_id', 'year']).first()
                          .reset_index())

df_statements_extended

,entity_id,year,financial_report_id,financial_statement_id,financial_report_order_number,entity_ico,month,period_length,consolidated,type,entity_name,establishment_date,sknace_code,entity_state,CA,CASH,CL,EQ,NCL,TA,TL,CC,INV,CF_NETTO,CF_SELFFIN,EAT,EBIT,SAL,COST,INT,YIE,L3,L2,L1,CF_CL,CASH_TA,SAL_TA,TL_SAL,INV_COST,INV_SAL,CC_SAL,TA_SAL,TL_TA,CF_TL,CL_TA,NCL_TA,EQ_TL,EQ_TA,EBIT_INT,CL_CC,ROE,EAT_TA,ROA_BRUTTO,CF_TA,CF_SAL,ROS,EAT_YIE,ROI,ROA_NETTO
0,4,2014,4644773,2382229,1,603783.0,1,12,None,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,None,7834018.0,5238983.0,4658457.0,2112122.0,3998809.0,11200988.0,8657266.0,2578606.0,16429.0,1171078.0,1063283.0,1007897.0,1115692.0,18416986.0,18245613.0,4446.0,19361305.0,1.681677,1.678150,1.124618,0.251388,0.467725,1.644229,0.470070,0.324157,0.321140,0.140012,218.947643,0.772902,0.135271,0.415897,0.357005,0.243971,0.188566,251.942870,1.806580,0.477196,0.089983,0.099607,0.104551,0.063587,0.054726,0.052057,0.090380,0.089983
1,4,2015,5382540,2968194,1,603783.0,1,12,None,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,None,19731264.0,5687157.0,6153737.0,13229589.0,1030527.0,20862929.0,7184264.0,14037315.0,6792.0,3940396.0,3245262.0,6536244.0,7231378.0,28140473.0,22342475.0,2910.0,29573853.0,3.206387,3.205284,0.924179,0.640326,0.272596,1.348827,0.255300,0.109438,0.086890,0.498830,266.898657,0.344355,0.548476,0.294960,0.049395,1.841468,0.634119,2486.009622,0.438384,0.494063,0.313295,0.346614,0.188871,0.140026,0.232272,0.221014,0.313434,0.313295
2,4,2016,5665728,3194585,3,603783.0,1,12,None,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,None,5675227.0,1828391.0,4859422.0,1178778.0,260980.0,6518310.0,5120402.0,3840942.0,5894.0,247140.0,11702.0,-44282.0,191156.0,12714905.0,12723450.0,38229.0,12914606.0,1.167881,1.166668,0.376257,0.050858,0.280501,1.950644,0.402709,0.166766,0.166878,0.302082,184.554395,0.785541,0.048266,0.745503,0.040038,0.230212,0.180841,6.000288,1.265164,-0.037566,-0.006793,0.029326,0.037915,0.019437,-0.003483,-0.003429,-0.000929,-0.006793
3,4,2017,6245237,3662172,2,603783.0,1,12,None,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,None,2581259.0,1224056.0,2649399.0,268147.0,252735.0,3442598.0,2902134.0,1355249.0,1954.0,-1327325.0,-1211994.0,-1270731.0,-1386062.0,7492102.0,9112045.0,9037.0,7725983.0,0.974281,0.973543,0.462013,-0.500991,0.355562,2.176293,0.387359,0.077199,0.093891,0.180890,165.418901,0.843007,-0.457362,0.769593,0.073414,0.092396,0.077891,-152.376342,1.954917,-4.738934,-0.369120,-0.402621,-0.385559,-0.177163,-0.169609,-0.164475,-0.366495,-0.369120
4,4,2018,6757564,4072051,3,603783.0,1,12,None,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,None,1974622.0,763867.0,1984699.0,146903.0,650836.0,3396723.0,2635535.0,1208801.0,1954.0,-58437.0,-79956.0,-121244.0,-99725.0,6937037.0,7219676.0,13197.0,7119951.0,0.994923,0.993938,0.384878,-0.029444,0.224884,2.042273,0.379922,0.097434,0.101404,0.174253,176.274147,0.775905,-0.022173,0.584298,0.191607,0.055739,0.043248,-6.556642,1.641874,-0.825334,-0.035694,-0.029359,-0.017204,-0.008424,-0.017478,-0.017029,-0.031809,-0.035694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680753,2048850,2021,8065588,5127715,1,54227623.0,12,1,None,Riadna,ToÄka s. r. o.,2021-12-09,82990.0,None,780.0,780.0,117.0,663.0,0.0,780.0,117.0,0.0,0.0,780.0,663.0,663.0,780.0,780.0,0.0,0.0,780.0,6.666667,6.666667,6.666667,6.666667,1.000000,1.000000,0.150000,NaN,0.000000,0.000000,360.000000,0.150000,6.666667,0.150000,0.000000,5.666667,0.850000,NaN,NaN,1.000000,0.850000,1.000000,1.000000,1.000000,0.850000,0.850000,0.850000,0.850000
1680754,2049673,2021,8234552,5270688,1,54073618.0,1,12,None,Riadna,MADAR - ELECTRO s.r.o.,2021-09-21,82110.0,None,16559.0,7209.0,9777.0,6782.0,0.0,16559.0,9777.0,9350.0,0.0,2096.0,1782.0,1782.0,2096.0,20120.0,18024.0,0.0,20120.0,1.693669,1.693669,0.737343,0.214381,0.435352,1.215049,0.485934,0.000000,0.000000,0.464712,296.284294,0.590434,0.214381,0.590434,0.000000,0.693669,0.409566,NaN,1.045668,0.262754,0.107615,0.126578,0.126578,0.104175,0.088569,0.088569,0.107615,0.107615
1680755,2051583,2021,7988745,5062309,1,54305233.0,12,1,None,Riadna,"Inori, s.r.o.",2021-12-24,68310.0,None,5150.0,5150.0,23.0,5127.0,0.0,5150.0,23.0,0.0,0.0,150.0,127.0,127.0,150.0,500.0,350.0,0.0,500.0,223.913043,223.913043,223.913043,6.521739,1.000000,0.097087,0.046000,0.000000,0.000000,0.000000,3708.000000,0.004466,6.521739,0.004466,0.000000,222.913043,0.995534,NaN,NaN,0.024771,0.024660,0.029126,0.029126,0.300000,0.254000,0.254000,0.024660,0.024660
1680756,2052305,2021,7976902,5052440,1,54167787.0,12,1,None,Riadna,MB Stavby KE s.r.o.,2021-10-28,74900.0,None,6059.0,2143.0,21609.0,3402.0,0.0,25011.0,21609.0,3916.0,0.0,-1148.0,-1148.0,-1598.0,-1598.0,2475.0,4073.0,0.0,2475.0,0.280392,0.280392,0.099172,-0.053126,0.085682,0.098956,8.730909,0.000000,0.000000,1.582222,3637.963636,0.863980,-0.053126,0.863980,0.000000,0.157434,0.136020,NaN,5.518131,-0.469724,-0.063892,-0.063892,-0.045900,-0.463838,-0.645657,-0.645657,-0.063892,-0.063892
1680757,2073583,2021,8166310,5206623,1,51947650.0,1,12,None,Riadna,FF Accounting s. r. o.,2018-10-18,69200.0,None,4407.0,4407.0,0.0,4407.0,0.0,4407.0,0.0,0.0,0.0,-96.0,-96.0,-96.0,-96.0,0.0,96.0,0.0,0.0,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,1.000000,NaN,NaN,-0.021784,-0.021784,-0.021784,-0.021784,NaN,NaN,NaN,-0.021784,-0.021784

In [19]:
df_statements_extended.to_csv('../../DATA/MODEL/financial_ratios_df.csv', index = False)