In [18]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [5]:
financial_ratios_table = pd.read_csv('../../DATA/MODEL/financial_ratios_df.csv')
issues_indicators_table = pd.read_csv('../../DATA/MODEL/issues_indicators.csv')

In [6]:
display(financial_ratios_table)
display(issues_indicators_table)

,entity_id,year,financial_report_id,financial_statement_id,financial_report_order_number,entity_ico,month,period_length,consolidated,type,...,CL_CC,ROE,EAT_TA,ROA_BRUTTO,CF_TA,CF_SAL,ROS,EAT_YIE,ROI,ROA_NETTO
0,4,2014,4644773,2382229,1,603783.0,1,12,NaN,Riadna,...,1.806580,0.477196,0.089983,0.099607,0.104551,0.063587,0.054726,0.052057,0.090380,0.089983
1,4,2015,5382540,2968194,1,603783.0,1,12,NaN,Riadna,...,0.438384,0.494063,0.313295,0.346614,0.188871,0.140026,0.232272,0.221014,0.313434,0.313295
2,4,2016,5665728,3194585,3,603783.0,1,12,NaN,Riadna,...,1.265164,-0.037566,-0.006793,0.029326,0.037915,0.019437,-0.003483,-0.003429,-0.000929,-0.006793
3,4,2017,6245237,3662172,2,603783.0,1,12,NaN,Riadna,...,1.954917,-4.738934,-0.369120,-0.402621,-0.385559,-0.177163,-0.169609,-0.164475,-0.366495,-0.369120
4,4,2018,6757564,4072051,3,603783.0,1,12,NaN,Riadna,...,1.641874,-0.825334,-0.035694,-0.029359,-0.017204,-0.008424,-0.017478,-0.017029,-0.031809,-0.035694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680753,2048850,2021,8065588,5127715,1,54227623.0,12,1,NaN,Riadna,...,NaN,1.000000,0.850000,1.000000,1.000000,1.000000,0.850000,0.850000,0.850000,0.850000
1680754,2049673,2021,8234552,5270688,1,54073618.0,1,12,NaN,Riadna,...,1.045668,0.262754,0.107615,0.126578,0.126578,0.104175,0.088569,0.088569,0.107615,0.107615
1680755,2051583,2021,7988745,5062309,1,54305233.0,12,1,NaN,Riadna,...,NaN,0.024771,0.024660,0.029126,0.029126,0.300000,0.254000,0.254000,0.024660,0.024660
1680756,2052305,2021,7976902,5052440,1,54167787.0,12,1,NaN,Riadna,...,5.518131,-0.469724,-0.063892,-0.063892,-0.045900,-0.463838,-0.645657,-0.645657,-0.063892,-0.063892
1680757,2073583,2021,8166310,5206623,1,51947650.0,1,12,NaN,Riadna,...,NaN,-0.021784,-0.021784,-0.021784,-0.021784,NaN,NaN,NaN,-0.021784,-0.021784

,entity_ico,year,DPHZ_vat_registration_cancelled,DPHZ_vat_registration_cancelled_1y_off,DPHZ_vat_registration_cancelled_2y_off,RO_cancelled,RO_cancelled_1y_off,RO_cancelled_2y_off,RUZ_cancelled,RUZ_cancelled_1y_off,RUZ_cancelled_2y_off,RUZ_established,RUZ_established_1y_off,RUZ_established_2y_off,RU_konkurz,RU_konkurz_1y_off,RU_konkurz_2y_off,RU_ostatne_konania,RU_ostatne_konania_1y_off,RU_ostatne_konania_2y_off
0,35,2002.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,35,2003.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,35,2004.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,671,1968.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,671,1969.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240541,448867799,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1240542,448867799,2018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1240543,2022206285,2009.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1240544,2022206285,2010.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1240545,2022206285,2011.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [7]:
merged_df = financial_ratios_table.merge(issues_indicators_table, on = ['entity_ico', 'year'], how = 'left')

for col in issues_indicators_table.columns:
    merged_df[col].fillna(0, inplace=True)

merged_df

,entity_id,year,financial_report_id,financial_statement_id,financial_report_order_number,entity_ico,month,period_length,consolidated,type,...,RUZ_cancelled_2y_off,RUZ_established,RUZ_established_1y_off,RUZ_established_2y_off,RU_konkurz,RU_konkurz_1y_off,RU_konkurz_2y_off,RU_ostatne_konania,RU_ostatne_konania_1y_off,RU_ostatne_konania_2y_off
0,4,2014,4644773,2382229,1,603783.0,1,12,NaN,Riadna,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,2015,5382540,2968194,1,603783.0,1,12,NaN,Riadna,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,2016,5665728,3194585,3,603783.0,1,12,NaN,Riadna,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,2017,6245237,3662172,2,603783.0,1,12,NaN,Riadna,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2018,6757564,4072051,3,603783.0,1,12,NaN,Riadna,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680753,2048850,2021,8065588,5127715,1,54227623.0,12,1,NaN,Riadna,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680754,2049673,2021,8234552,5270688,1,54073618.0,1,12,NaN,Riadna,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680755,2051583,2021,7988745,5062309,1,54305233.0,12,1,NaN,Riadna,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680756,2052305,2021,7976902,5052440,1,54167787.0,12,1,NaN,Riadna,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680757,2073583,2021,8166310,5206623,1,51947650.0,1,12,NaN,Riadna,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
column = 'SAL'

pivot = pd.pivot_table(merged_df.query('year <= 2019'), index = 'entity_ico', columns='year', values=column)
bool_wide = (pivot == pivot)
bool_wide['count'] = bool_wide.apply(sum, axis = 1)
bool_wide['count'].value_counts()

bool_wide.reset_index(inplace=True)
bool_wide.columns

Index(['entity_ico', 2014, 2015, 2016, 2017, 2018, 2019, 'count'], dtype='object', name='year')

In [9]:
bool_wide.columns = ['entity_ico', 'y14', 'y15', 'y16', 'y17', 'y18', 'y19', 'count']

In [20]:
entity_ico_list = list(bool_wide.query('count > 2 and y16 and y17')['entity_ico'].unique())

merged_df.query('entity_ico in @entity_ico_list', inplace= True)
merged_df

,entity_id,year,financial_report_id,financial_statement_id,financial_report_order_number,entity_ico,month,period_length,consolidated,type,entity_name,establishment_date,sknace_code,entity_state,CA,CASH,CL,EQ,NCL,TA,TL,CC,INV,CF_NETTO,CF_SELFFIN,EAT,EBIT,SAL,COST,INT,YIE,L3,L2,L1,CF_CL,CASH_TA,SAL_TA,TL_SAL,INV_COST,INV_SAL,CC_SAL,TA_SAL,TL_TA,CF_TL,CL_TA,NCL_TA,EQ_TL,EQ_TA,EBIT_INT,CL_CC,ROE,EAT_TA,ROA_BRUTTO,CF_TA,CF_SAL,ROS,EAT_YIE,ROI,ROA_NETTO,DPHZ_vat_registration_cancelled,DPHZ_vat_registration_cancelled_1y_off,DPHZ_vat_registration_cancelled_2y_off,RO_cancelled,RO_cancelled_1y_off,RO_cancelled_2y_off,RUZ_cancelled,RUZ_cancelled_1y_off,RUZ_cancelled_2y_off,RUZ_established,RUZ_established_1y_off,RUZ_established_2y_off,RU_konkurz,RU_konkurz_1y_off,RU_konkurz_2y_off,RU_ostatne_konania,RU_ostatne_konania_1y_off,RU_ostatne_konania_2y_off
0,4,2014,4644773,2382229,1,603783.0,1,12,NaN,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,NaN,7834018.0,5238983.0,4658457.0,2112122.0,3998809.0,11200988.0,8657266.0,2578606.0,16429.0,1171078.0,1063283.0,1007897.0,1115692.0,18416986.0,18245613.0,4446.0,19361305.0,1.681677,1.678150,1.124618,0.251388,0.467725,1.644229,0.470070,0.324157,0.321140,0.140012,218.947643,0.772902,0.135271,0.415897,0.357005,0.243971,0.188566,251.942870,1.806580,0.477196,0.089983,0.099607,0.104551,0.063587,0.054726,0.052057,0.090380,0.089983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,2015,5382540,2968194,1,603783.0,1,12,NaN,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,NaN,19731264.0,5687157.0,6153737.0,13229589.0,1030527.0,20862929.0,7184264.0,14037315.0,6792.0,3940396.0,3245262.0,6536244.0,7231378.0,28140473.0,22342475.0,2910.0,29573853.0,3.206387,3.205284,0.924179,0.640326,0.272596,1.348827,0.255300,0.109438,0.086890,0.498830,266.898657,0.344355,0.548476,0.294960,0.049395,1.841468,0.634119,2486.009622,0.438384,0.494063,0.313295,0.346614,0.188871,0.140026,0.232272,0.221014,0.313434,0.313295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,2016,5665728,3194585,3,603783.0,1,12,NaN,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,NaN,5675227.0,1828391.0,4859422.0,1178778.0,260980.0,6518310.0,5120402.0,3840942.0,5894.0,247140.0,11702.0,-44282.0,191156.0,12714905.0,12723450.0,38229.0,12914606.0,1.167881,1.166668,0.376257,0.050858,0.280501,1.950644,0.402709,0.166766,0.166878,0.302082,184.554395,0.785541,0.048266,0.745503,0.040038,0.230212,0.180841,6.000288,1.265164,-0.037566,-0.006793,0.029326,0.037915,0.019437,-0.003483,-0.003429,-0.000929,-0.006793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,2017,6245237,3662172,2,603783.0,1,12,NaN,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,NaN,2581259.0,1224056.0,2649399.0,268147.0,252735.0,3442598.0,2902134.0,1355249.0,1954.0,-1327325.0,-1211994.0,-1270731.0,-1386062.0,7492102.0,9112045.0,9037.0,7725983.0,0.974281,0.973543,0.462013,-0.500991,0.355562,2.176293,0.387359,0.077199,0.093891,0.180890,165.418901,0.843007,-0.457362,0.769593,0.073414,0.092396,0.077891,-152.376342,1.954917,-4.738934,-0.369120,-0.402621,-0.385559,-0.177163,-0.169609,-0.164475,-0.366495,-0.369120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2018,6757564,4072051,3,603783.0,1,12,NaN,Riadna,"NESS Slovensko, a.s.",1991-01-17,62090.0,NaN,1974622.0,763867.0,1984699.0,146903.0,650836.0,3396723.0,2635535.0,1208801.0,1954.0,-58437.0,-79956.0,-121244.0,-99725.0,6937037.0,7219676.0,13197.0,7119951.0,0.994923,0.993938,0.384878,-0.029444,0.224884,2.042273,0.379922,0.097434,0.101404,0.174253,176.274147,0.775905,-0.022173,0.584298,0.191607,0.055739,0.043248,-6.556642,1.641874,-0.825334,-0.035694,-0.029359,-0.017204,-0.008424,-0.017478,-0.017029,-0.031809,-0.035694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456087,1702449,2017,6292134,3697238,1,50316796.0,1,12,NaN,Riadna,"ECOcleaning servis, s.r.o.",2016-05-05,81290.0,NaN,59850.0,55734.0,14644.0,70435.0,6708.0,91787.0,21352.0,2516.0,1600.0,71335.0,57559.0,51573.0,65349.0,164266.0,98992.0,2.0,164341.0,4.086998,3.977738,3.805927,4.871278,0.607210,1.789643,0.129984,5.818652,3.506508,0.015317,201.157391,0.232626,3.340905,0.159543,0.073082,3.298754,0.767374,32675.500000,5.820350,0.732207,0.561877,0.711964,0.777180,0.434265,0.313960,0.313817,0.561899,0.561877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456088,1702449,2018,6470876,3835097,1,50316796.0,1,12,NaN,Riadna,"ECOcleaning servis, s.r.o.",2016-05-05,81290.0,NaN,112709.0,103122.0,5257.0,56538.0,74390.0,136185.0,79647.0,9587.0,0.0,-5437.0,-5437.0,-13898.0,-13898.0,70574.0,85325.0,591.0,71427.0,21.439795,21.439795,19.616131,-1.034240,0.757220,0.518222,1.128560,0.000000,0.000000,0.135843,694.683595,0.584844,-0.068264,0.038602,0.546242,0.709857,0.415156,-22.516074,0.548347,-0.245817,-0.102052,-0.102052,-0.039924,-0.077040,-0.196928,-0.194576,-0.097713,-0.102052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456089,1702449,2019,6950172,4221592,1,50316796.0,1,12,NaN,Riadna,"ECOcleaning servis, s.r.o.",2016-05-05,81290.0,NaN,66294.0,64553.0,3535.0,44445.0,53079.0,101059.0,56614.0,1741.0,0.0,230.0,230.0,-12094.0,-12094.0,75608.0,88243.0,5906.0,76149.0,18.753607,18.753607,18.261103,0.065064,0.638765,0.748157,0.748783,0.000000,0.000000,0.023027,481.182415,0.560207,0.004063,0.034980,0.525228,0.785053,0.439793,-1.047748,2.030442,-0.272112,-0.119673,-0.119673,0.002276,0.003042,-0.159957,-0.158820,-0.061232,-0.119673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456090,1702449,2020,7411279,4591365,1,50316796.0,1,12,NaN,Riadna,"ECOcleaning servis, s.r.o.",2016-05-05,81290.0,NaN,71646.0,69687.0,2877.0,42218.0,49454.0,94549.0,52331.0,1959.0,0.0,9636.0,9636.0,-2226.0,-2226.0,90326.0,95011.0,4487.0,92785.0,24.903024,24.903024,24.222106,3.349322,0.737046,0.955335,0.579357,0.000000,0.000000,0.021688,376.831034,0.553480,0.184136,0.030429,0.523052,0.806749,0.446520,0.503900,1.468606,-0.052726,-0.023543,-0.023543,0.101915,0.106680,-0.024644,-0.023991,0.023914,-0.023543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456091,1702449,2021,7882158,4970061,1,50316796.0,1,12,NaN,Riadna,"ECOcleaning servis, s.r.o.",2016-05-05,81290.0,NaN,73182.0,71674.0,6299.0,45816.0,34310.0,86425.0,40609.0,1508.0,0.0,13259.0,13259.0,3599.0,3599.0,86690.0,91017.0,3463.0,94616.0,11.618035,11.618035,11.378632,2.104937,0.829320,1.003066,0.468439,0.000000,0.000000,0.017395,358.899527,0.469876,0.326504,0.072884,0.396992,1.128223,0.530124,2.039272,4.177056,0.078553,0.041643,0.041643,0.153416,0.152947,0.041516,0.038038,0.081712,0.041643,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
codebook_sknace_raw = pd.read_csv('../../DATA/RAW/register_uz_apr23/preprocessed/codebook_sk-nace.csv')
codebook_sknace_divisions_raw = pd.read_csv('../../DATA/RAW/register_uz_apr23/preprocessed/codebook_sk-nace_divisions_su.csv', sep= '|')


codebook_sknace = codebook_sknace_raw[['kod', 'nazov.sk']]
codebook_sknace.columns = ['sknace_code', 'sknace_group']

codebook_sknace['sknace_code'] = pd.to_numeric(codebook_sknace['sknace_code'])
codebook_sknace['sknace_division_code'] = codebook_sknace['sknace_code'].apply(lambda x: x//1000)

# display(codebook_sknace)
# display(codebook_sknace_divisions_raw)

codebook_sknace_divisions = codebook_sknace_divisions_raw[['code', 'officialTitle', 'note']]
codebook_sknace_divisions.columns = ['sknace_division_code', 'sknace_division_name', 'sknace_division']
codebook_sknace_divisions['sknace_division_code'] = pd.to_numeric(codebook_sknace_divisions['sknace_division_code'])

codebook_sknace = codebook_sknace.merge(codebook_sknace_divisions, on = 'sknace_division_code', how = 'left')

codebook_sknace

C:\Users\matus.rohal\AppData\Local\Temp\ipykernel_1756\932557765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codebook_sknace['sknace_code'] = pd.to_numeric(codebook_sknace['sknace_code'])
C:\Users\matus.rohal\AppData\Local\Temp\ipykernel_1756\932557765.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  codebook_sknace_divisions['sknace_division_code'] = pd.to_numeric(codebook_sknace_divisions['sknace_division_code'])

,sknace_code,sknace_group,sknace_division_code,sknace_division_name,sknace_division
0,1110,Pestov.obilnín,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
1,1120,Pestov.ryže,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
2,1130,"Pestov.zeleniny,melónov",1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
3,1140,Pestov.cukrovej trstiny,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
4,1150,Pestov.tabaku,1,"Pestovanie plodín a chov zvierat, poľovníctvo ...",A
...,...,...,...,...,...
641,96090,Ost.osob.služby i.n.,96,Ostatné osobné služby,S
642,97000,Čin.domácn.ako zamestn.,97,Činnosti domácností ako zamestnávateľov domáce...,T
643,98100,Čin.v dom.produk.tovary,98,Nediferencované činnosti v domácnostiach produ...,T
644,98200,Čin.v dom.produk.služby,98,Nediferencované činnosti v domácnostiach produ...,T
645,99000,Čin.extrateritoriál.org.,99,Činnosti extrateritoriálnych organizácií a zdr...,U

In [32]:
merged_df = merged_df.merge(codebook_sknace[['sknace_code', 'sknace_division_name', 'sknace_division']], on = 'sknace_code', how = 'left')

In [35]:
merged_df.query('year == 2018')['sknace_division'].value_counts()

G    41421
M    30601
N    17022
C    15808
F    14460
L    11157
J     9847
H     7051
I     6564
Q     6447
A     3826
S     2381
P     2361
R     2360
E      895
K      598
D      567
B      166
O       12
Name: sknace_division, dtype: int64