In [68]:
import pandas as pd
import numpy as np

In [69]:
financial_ratios_table = pd.read_csv('../../DATA/MODEL/financial_ratios_df.csv')
issues_indicators_table = pd.read_csv('../../DATA/MODEL/issues_indicators.csv')

In [70]:
display(financial_ratios_table)
display(issues_indicators_table)

,entity_id,year,financial_report_id,CA,CASH,CL,EQ,NCL,TA,TL,...,CF_TA,CF_SAL,ROS,EAT_YIE,ROI,ROA_NETTO,financial_statement_id,financial_report_order_number,entity_ico,month
0,4,2014,4644773,7834018.0,5238983.0,4658457.0,2112122.0,3998809.0,11200988.0,8657266.0,...,0.104551,0.063587,0.054726,0.052057,0.090380,0.089983,2382229,1,603783.0,1
1,4,2015,5382540,19731264.0,5687157.0,6153737.0,13229589.0,1030527.0,20862929.0,7184264.0,...,0.188871,0.140026,0.232272,0.221014,0.313434,0.313295,2968194,1,603783.0,1
2,4,2016,5665728,5675227.0,1828391.0,4859422.0,1178778.0,260980.0,6518310.0,5120402.0,...,0.037915,0.019437,-0.003483,-0.003429,-0.000929,-0.006793,3194585,3,603783.0,1
3,4,2017,6245237,2581259.0,1224056.0,2649399.0,268147.0,252735.0,3442598.0,2902134.0,...,-0.385559,-0.177163,-0.169609,-0.164475,-0.366495,-0.369120,3662172,2,603783.0,1
4,4,2018,6757564,1974622.0,763867.0,1984699.0,146903.0,650836.0,3396723.0,2635535.0,...,-0.017204,-0.008424,-0.017478,-0.017029,-0.031809,-0.035694,4072051,3,603783.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680753,2048850,2021,8065588,780.0,780.0,117.0,663.0,0.0,780.0,117.0,...,1.000000,1.000000,0.850000,0.850000,0.850000,0.850000,5127715,1,54227623.0,12
1680754,2049673,2021,8234552,16559.0,7209.0,9777.0,6782.0,0.0,16559.0,9777.0,...,0.126578,0.104175,0.088569,0.088569,0.107615,0.107615,5270688,1,54073618.0,1
1680755,2051583,2021,7988745,5150.0,5150.0,23.0,5127.0,0.0,5150.0,23.0,...,0.029126,0.300000,0.254000,0.254000,0.024660,0.024660,5062309,1,54305233.0,12
1680756,2052305,2021,7976902,6059.0,2143.0,21609.0,3402.0,0.0,25011.0,21609.0,...,-0.045900,-0.463838,-0.645657,-0.645657,-0.063892,-0.063892,5052440,1,54167787.0,12
1680757,2073583,2021,8166310,4407.0,4407.0,0.0,4407.0,0.0,4407.0,0.0,...,-0.021784,NaN,NaN,NaN,-0.021784,-0.021784,5206623,1,51947650.0,1

,entity_ico,year,DPHZ_vat_registration_cancelled,DPHZ_vat_registration_cancelled_1y_off,DPHZ_vat_registration_cancelled_2y_off,RO_cancelled,RO_cancelled_1y_off,RO_cancelled_2y_off,RUZ_cancelled,RUZ_cancelled_1y_off,RUZ_cancelled_2y_off,RUZ_established,RUZ_established_1y_off,RUZ_established_2y_off,RU_konkurz,RU_konkurz_1y_off,RU_konkurz_2y_off,RU_ostatne_konania,RU_ostatne_konania_1y_off,RU_ostatne_konania_2y_off
0,35,2002.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,35,2003.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,35,2004.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,671,1968.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,671,1969.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240541,448867799,2017.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1240542,448867799,2018.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1240543,2022206285,2009.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1240544,2022206285,2010.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1240545,2022206285,2011.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [75]:
merged_df = financial_ratios_table.merge(issues_indicators_table, on = ['entity_ico', 'year'], how = 'left')

for col in issues_indicators_table.columns:
    merged_df[col].fillna(0, inplace=True)

merged_df

,entity_id,year,financial_report_id,CA,CASH,CL,EQ,NCL,TA,TL,...,RUZ_cancelled_2y_off,RUZ_established,RUZ_established_1y_off,RUZ_established_2y_off,RU_konkurz,RU_konkurz_1y_off,RU_konkurz_2y_off,RU_ostatne_konania,RU_ostatne_konania_1y_off,RU_ostatne_konania_2y_off
0,4,2014,4644773,7834018.0,5238983.0,4658457.0,2112122.0,3998809.0,11200988.0,8657266.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,2015,5382540,19731264.0,5687157.0,6153737.0,13229589.0,1030527.0,20862929.0,7184264.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,2016,5665728,5675227.0,1828391.0,4859422.0,1178778.0,260980.0,6518310.0,5120402.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,2017,6245237,2581259.0,1224056.0,2649399.0,268147.0,252735.0,3442598.0,2902134.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2018,6757564,1974622.0,763867.0,1984699.0,146903.0,650836.0,3396723.0,2635535.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680753,2048850,2021,8065588,780.0,780.0,117.0,663.0,0.0,780.0,117.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680754,2049673,2021,8234552,16559.0,7209.0,9777.0,6782.0,0.0,16559.0,9777.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680755,2051583,2021,7988745,5150.0,5150.0,23.0,5127.0,0.0,5150.0,23.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680756,2052305,2021,7976902,6059.0,2143.0,21609.0,3402.0,0.0,25011.0,21609.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1680757,2073583,2021,8166310,4407.0,4407.0,0.0,4407.0,0.0,4407.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
column = 'SAL'

pivot = pd.pivot_table(merged_df.query('year <= 2019'), index = 'entity_ico', columns='year', values=column)
bool_wide = (pivot == pivot)
bool_wide['count'] = bool_wide.apply(sum, axis = 1)
bool_wide['count'].value_counts()

bool_wide.reset_index(inplace=True)
bool_wide.columns

Index(['entity_ico', 2014, 2015, 2016, 2017, 2018, 2019, 'count'], dtype='object', name='year')

In [72]:
bool_wide.columns = ['entity_ico', 'y14', 'y15', 'y16', 'y17', 'y18', 'y19', 'count']

In [67]:
def one_year_stats(df, yr):
    subset = df.query('year == @yr')
    print('ico count:', subset['entity_ico'].nunique())
    print('cancelled RO:', subset.query('RO_cancelled_1y_off == 1')['entity_ico'].nunique())
    print('cancelled RUZ:', subset.query('RUZ_cancelled_1y_off == 1')['entity_ico'].nunique())
    print('cancelled RU konkurz:', subset.query('RU_konkurz_1y_off == 1')['entity_ico'].nunique())
    print('cancelled RU ostatne:', subset.query('RU_ostatne_konania_1y_off == 1')['entity_ico'].nunique())


one_year_stats(merged_df, 2017)

ico count: 150526
cancelled RO: 0
cancelled RUZ: 0
cancelled RU konkurz: 34
cancelled RU ostatne: 22

In [54]:
for col in issues_indicators_table.columns:
    print(col)

entity_ico
year
DPHZ_vat_registration_cancelled
DPHZ_vat_registration_cancelled_1y_off
DPHZ_vat_registration_cancelled_2y_off
RO_cancelled
RO_cancelled_1y_off
RO_cancelled_2y_off
RUZ_cancelled
RUZ_cancelled_1y_off
RUZ_cancelled_2y_off
RUZ_established
RUZ_established_1y_off
RUZ_established_2y_off
RU_konkurz
RU_konkurz_1y_off
RU_konkurz_2y_off
RU_ostatne_konania
RU_ostatne_konania_1y_off
RU_ostatne_konania_2y_off